/dts-v1/;

/memreserve/	0x0000000004600000 0x000000000000f000;
/memreserve/	0x0000000004bf0000 0x000000000016c8a4;
/ {
	compatible = "rockchip,rk3328-evb", "rockchip,rk3328";
	interrupt-parent = <0x1>;
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Rockchip RK3328 EVB";

	memory {
		reg = <0x0 0x200000 0x0 0x8200000 0x0 0xa200000 0x0 0xf4e00000>;
		device_type = "memory";
	};

	ddr_timing {
		compatible = "rockchip,ddr-timing";
		ddr3_speed_bin = <0x15>;
		ddr4_speed_bin = <0xc>;
		pd_idle = <0x0>;
		sr_idle = <0x0>;
		sr_mc_gate_idle = <0x0>;
		srpd_lite_idle = <0x0>;
		standby_idle = <0x0>;
		auto_pd_dis_freq = <0x42a>;
		auto_sr_dis_freq = <0x320>;
		ddr3_dll_dis_freq = <0x12c>;
		ddr4_dll_dis_freq = <0x271>;
		phy_dll_dis_freq = <0x190>;
		ddr3_odt_dis_freq = <0x64>;
		phy_ddr3_odt_dis_freq = <0x64>;
		ddr3_drv = <0x28>;
		ddr3_odt = <0x78>;
		phy_ddr3_ca_drv = <0x1b>;
		phy_ddr3_ck_drv = <0x15>;
		phy_ddr3_dq_drv = <0x15>;
		phy_ddr3_odt = <0x2>;
		lpddr3_odt_dis_freq = <0x29a>;
		phy_lpddr3_odt_dis_freq = <0x29a>;
		lpddr3_drv = <0x28>;
		lpddr3_odt = <0xf0>;
		phy_lpddr3_ca_drv = <0x16>;
		phy_lpddr3_ck_drv = <0x13>;
		phy_lpddr3_dq_drv = <0x16>;
		phy_lpddr3_odt = <0x2>;
		lpddr4_odt_dis_freq = <0x320>;
		phy_lpddr4_odt_dis_freq = <0x320>;
		lpddr4_drv = <0x3c>;
		lpddr4_dq_odt = <0x28>;
		lpddr4_ca_odt = <0x28>;
		phy_lpddr4_ca_drv = <0x14>;
		phy_lpddr4_ck_cs_drv = <0x6>;
		phy_lpddr4_dq_drv = <0x6>;
		phy_lpddr4_odt = <0x10>;
		ddr4_odt_dis_freq = <0x29a>;
		phy_ddr4_odt_dis_freq = <0x29a>;
		ddr4_drv = <0x22>;
		ddr4_odt = <0xf0>;
		phy_ddr4_ca_drv = <0x16>;
		phy_ddr4_ck_drv = <0x13>;
		phy_ddr4_dq_drv = <0x16>;
		phy_ddr4_odt = <0x2>;
		ddr3a1_ddr4a9_de-skew = <0x2>;
		ddr3a0_ddr4a10_de-skew = <0x3>;
		ddr3a3_ddr4a6_de-skew = <0x3>;
		ddr3a2_ddr4a4_de-skew = <0x2>;
		ddr3a5_ddr4a8_de-skew = <0x3>;
		ddr3a4_ddr4a5_de-skew = <0x2>;
		ddr3a7_ddr4a11_de-skew = <0x3>;
		ddr3a6_ddr4a7_de-skew = <0x2>;
		ddr3a9_ddr4a0_de-skew = <0x2>;
		ddr3a8_ddr4a13_de-skew = <0x1>;
		ddr3a11_ddr4a3_de-skew = <0x2>;
		ddr3a10_ddr4cs0_de-skew = <0x2>;
		ddr3a13_ddr4a2_de-skew = <0x1>;
		ddr3a12_ddr4ba1_de-skew = <0x2>;
		ddr3a15_ddr4odt0_de-skew = <0x3>;
		ddr3a14_ddr4a1_de-skew = <0x2>;
		ddr3ba1_ddr4a15_de-skew = <0x2>;
		ddr3ba0_ddr4bg0_de-skew = <0x4>;
		ddr3ras_ddr4cke_de-skew = <0x4>;
		ddr3ba2_ddr4ba0_de-skew = <0x3>;
		ddr3we_ddr4bg1_de-skew = <0x2>;
		ddr3cas_ddr4a12_de-skew = <0x2>;
		ddr3ckn_ddr4ckn_de-skew = <0xa>;
		ddr3ckp_ddr4ckp_de-skew = <0xa>;
		ddr3cke_ddr4a16_de-skew = <0x2>;
		ddr3odt0_ddr4a14_de-skew = <0x4>;
		ddr3cs0_ddr4act_de-skew = <0x4>;
		ddr3reset_ddr4reset_de-skew = <0x7>;
		ddr3cs1_ddr4cs1_de-skew = <0x7>;
		ddr3odt1_ddr4odt1_de-skew = <0x7>;
		cs0_dm0_rx_de-skew = <0xc>;
		cs0_dm0_tx_de-skew = <0xa>;
		cs0_dq0_rx_de-skew = <0xc>;
		cs0_dq0_tx_de-skew = <0xa>;
		cs0_dq1_rx_de-skew = <0xc>;
		cs0_dq1_tx_de-skew = <0xa>;
		cs0_dq2_rx_de-skew = <0xc>;
		cs0_dq2_tx_de-skew = <0xa>;
		cs0_dq3_rx_de-skew = <0xc>;
		cs0_dq3_tx_de-skew = <0xa>;
		cs0_dq4_rx_de-skew = <0xc>;
		cs0_dq4_tx_de-skew = <0xa>;
		cs0_dq5_rx_de-skew = <0xc>;
		cs0_dq5_tx_de-skew = <0xa>;
		cs0_dq6_rx_de-skew = <0xc>;
		cs0_dq6_tx_de-skew = <0xa>;
		cs0_dq7_rx_de-skew = <0xc>;
		cs0_dq7_tx_de-skew = <0xa>;
		cs0_dqs0_rx_de-skew = <0xa>;
		cs0_dqs0p_tx_de-skew = <0xb>;
		cs0_dqs0n_tx_de-skew = <0xb>;
		cs0_dm1_rx_de-skew = <0xa>;
		cs0_dm1_tx_de-skew = <0x8>;
		cs0_dq8_rx_de-skew = <0xa>;
		cs0_dq8_tx_de-skew = <0x8>;
		cs0_dq9_rx_de-skew = <0xa>;
		cs0_dq9_tx_de-skew = <0x8>;
		cs0_dq10_rx_de-skew = <0xa>;
		cs0_dq10_tx_de-skew = <0x8>;
		cs0_dq11_rx_de-skew = <0xa>;
		cs0_dq11_tx_de-skew = <0x8>;
		cs0_dq12_rx_de-skew = <0xa>;
		cs0_dq12_tx_de-skew = <0x8>;
		cs0_dq13_rx_de-skew = <0xa>;
		cs0_dq13_tx_de-skew = <0x8>;
		cs0_dq14_rx_de-skew = <0xa>;
		cs0_dq14_tx_de-skew = <0x8>;
		cs0_dq15_rx_de-skew = <0xa>;
		cs0_dq15_tx_de-skew = <0x8>;
		cs0_dqs1_rx_de-skew = <0x9>;
		cs0_dqs1p_tx_de-skew = <0x8>;
		cs0_dqs1n_tx_de-skew = <0x8>;
		cs0_dm2_rx_de-skew = <0xa>;
		cs0_dm2_tx_de-skew = <0x9>;
		cs0_dq16_rx_de-skew = <0xa>;
		cs0_dq16_tx_de-skew = <0x9>;
		cs0_dq17_rx_de-skew = <0xa>;
		cs0_dq17_tx_de-skew = <0x9>;
		cs0_dq18_rx_de-skew = <0xa>;
		cs0_dq18_tx_de-skew = <0x9>;
		cs0_dq19_rx_de-skew = <0xa>;
		cs0_dq19_tx_de-skew = <0x9>;
		cs0_dq20_rx_de-skew = <0xa>;
		cs0_dq20_tx_de-skew = <0x9>;
		cs0_dq21_rx_de-skew = <0xa>;
		cs0_dq21_tx_de-skew = <0x9>;
		cs0_dq22_rx_de-skew = <0xa>;
		cs0_dq22_tx_de-skew = <0x9>;
		cs0_dq23_rx_de-skew = <0xa>;
		cs0_dq23_tx_de-skew = <0x9>;
		cs0_dqs2_rx_de-skew = <0x9>;
		cs0_dqs2p_tx_de-skew = <0x9>;
		cs0_dqs2n_tx_de-skew = <0x9>;
		cs0_dm3_rx_de-skew = <0x7>;
		cs0_dm3_tx_de-skew = <0x7>;
		cs0_dq24_rx_de-skew = <0x7>;
		cs0_dq24_tx_de-skew = <0x7>;
		cs0_dq25_rx_de-skew = <0x7>;
		cs0_dq25_tx_de-skew = <0x7>;
		cs0_dq26_rx_de-skew = <0x7>;
		cs0_dq26_tx_de-skew = <0x7>;
		cs0_dq27_rx_de-skew = <0x7>;
		cs0_dq27_tx_de-skew = <0x7>;
		cs0_dq28_rx_de-skew = <0x7>;
		cs0_dq28_tx_de-skew = <0x7>;
		cs0_dq29_rx_de-skew = <0x7>;
		cs0_dq29_tx_de-skew = <0x7>;
		cs0_dq30_rx_de-skew = <0x7>;
		cs0_dq30_tx_de-skew = <0x7>;
		cs0_dq31_rx_de-skew = <0x7>;
		cs0_dq31_tx_de-skew = <0x7>;
		cs0_dqs3_rx_de-skew = <0x7>;
		cs0_dqs3p_tx_de-skew = <0x8>;
		cs0_dqs3n_tx_de-skew = <0x8>;
		cs1_dm0_rx_de-skew = <0x7>;
		cs1_dm0_tx_de-skew = <0x8>;
		cs1_dq0_rx_de-skew = <0x7>;
		cs1_dq0_tx_de-skew = <0x8>;
		cs1_dq1_rx_de-skew = <0x7>;
		cs1_dq1_tx_de-skew = <0x8>;
		cs1_dq2_rx_de-skew = <0x7>;
		cs1_dq2_tx_de-skew = <0x8>;
		cs1_dq3_rx_de-skew = <0x7>;
		cs1_dq3_tx_de-skew = <0x8>;
		cs1_dq4_rx_de-skew = <0x7>;
		cs1_dq4_tx_de-skew = <0x8>;
		cs1_dq5_rx_de-skew = <0x7>;
		cs1_dq5_tx_de-skew = <0x8>;
		cs1_dq6_rx_de-skew = <0x7>;
		cs1_dq6_tx_de-skew = <0x8>;
		cs1_dq7_rx_de-skew = <0x7>;
		cs1_dq7_tx_de-skew = <0x8>;
		cs1_dqs0_rx_de-skew = <0x6>;
		cs1_dqs0p_tx_de-skew = <0x9>;
		cs1_dqs0n_tx_de-skew = <0x9>;
		cs1_dm1_rx_de-skew = <0x7>;
		cs1_dm1_tx_de-skew = <0x7>;
		cs1_dq8_rx_de-skew = <0x7>;
		cs1_dq8_tx_de-skew = <0x8>;
		cs1_dq9_rx_de-skew = <0x7>;
		cs1_dq9_tx_de-skew = <0x7>;
		cs1_dq10_rx_de-skew = <0x7>;
		cs1_dq10_tx_de-skew = <0x8>;
		cs1_dq11_rx_de-skew = <0x7>;
		cs1_dq11_tx_de-skew = <0x7>;
		cs1_dq12_rx_de-skew = <0x7>;
		cs1_dq12_tx_de-skew = <0x8>;
		cs1_dq13_rx_de-skew = <0x7>;
		cs1_dq13_tx_de-skew = <0x7>;
		cs1_dq14_rx_de-skew = <0x7>;
		cs1_dq14_tx_de-skew = <0x8>;
		cs1_dq15_rx_de-skew = <0x7>;
		cs1_dq15_tx_de-skew = <0x7>;
		cs1_dqs1_rx_de-skew = <0x7>;
		cs1_dqs1p_tx_de-skew = <0x9>;
		cs1_dqs1n_tx_de-skew = <0x9>;
		cs1_dm2_rx_de-skew = <0x7>;
		cs1_dm2_tx_de-skew = <0x8>;
		cs1_dq16_rx_de-skew = <0x7>;
		cs1_dq16_tx_de-skew = <0x8>;
		cs1_dq17_rx_de-skew = <0x7>;
		cs1_dq17_tx_de-skew = <0x8>;
		cs1_dq18_rx_de-skew = <0x7>;
		cs1_dq18_tx_de-skew = <0x8>;
		cs1_dq19_rx_de-skew = <0x7>;
		cs1_dq19_tx_de-skew = <0x8>;
		cs1_dq20_rx_de-skew = <0x7>;
		cs1_dq20_tx_de-skew = <0x8>;
		cs1_dq21_rx_de-skew = <0x7>;
		cs1_dq21_tx_de-skew = <0x8>;
		cs1_dq22_rx_de-skew = <0x7>;
		cs1_dq22_tx_de-skew = <0x8>;
		cs1_dq23_rx_de-skew = <0x7>;
		cs1_dq23_tx_de-skew = <0x8>;
		cs1_dqs2_rx_de-skew = <0x6>;
		cs1_dqs2p_tx_de-skew = <0x9>;
		cs1_dqs2n_tx_de-skew = <0x9>;
		cs1_dm3_rx_de-skew = <0x7>;
		cs1_dm3_tx_de-skew = <0x7>;
		cs1_dq24_rx_de-skew = <0x7>;
		cs1_dq24_tx_de-skew = <0x8>;
		cs1_dq25_rx_de-skew = <0x7>;
		cs1_dq25_tx_de-skew = <0x7>;
		cs1_dq26_rx_de-skew = <0x7>;
		cs1_dq26_tx_de-skew = <0x7>;
		cs1_dq27_rx_de-skew = <0x7>;
		cs1_dq27_tx_de-skew = <0x7>;
		cs1_dq28_rx_de-skew = <0x7>;
		cs1_dq28_tx_de-skew = <0x7>;
		cs1_dq29_rx_de-skew = <0x7>;
		cs1_dq29_tx_de-skew = <0x7>;
		cs1_dq30_rx_de-skew = <0x7>;
		cs1_dq30_tx_de-skew = <0x7>;
		cs1_dq31_rx_de-skew = <0x7>;
		cs1_dq31_tx_de-skew = <0x7>;
		cs1_dqs3_rx_de-skew = <0x7>;
		cs1_dqs3p_tx_de-skew = <0x9>;
		cs1_dqs3n_tx_de-skew = <0x9>;
		linux,phandle = <0x73>;
		phandle = <0x73>;
	};

	aliases {
		serial0 = "/serial@ff110000";
		serial1 = "/serial@ff120000";
		serial2 = "/serial@ff130000";
		i2c0 = "/i2c@ff150000";
		i2c1 = "/i2c@ff160000";
		i2c2 = "/i2c@ff170000";
		i2c3 = "/i2c@ff180000";
		ethernet0 = "/ethernet@ff540000";
		ethernet1 = "/ethernet@ff550000";
	};

	cpus {
		#address-cells = <0x2>;
		#size-cells = <0x0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "psci";
			clocks = <0x2 0x6>;
			#cooling-cells = <0x2>;
			dynamic-power-coefficient = <0x78>;
			operating-points-v2 = <0x3>;
			cpu-supply = <0x4>;
			linux,phandle = <0x6>;
			phandle = <0x6>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x1>;
			enable-method = "psci";
			operating-points-v2 = <0x3>;
			linux,phandle = <0x7>;
			phandle = <0x7>;
		};

		cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x2>;
			enable-method = "psci";
			operating-points-v2 = <0x3>;
			linux,phandle = <0x8>;
			phandle = <0x8>;
		};

		cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x3>;
			enable-method = "psci";
			operating-points-v2 = <0x3>;
			linux,phandle = <0x9>;
			phandle = <0x9>;
		};
	};

	cpu0-opp-table {
		compatible = "operating-points-v2";
		opp-shared;
		rockchip,leakage-voltage-sel = <0x1 0x8 0x0 0x9 0xfe 0x1>;
		nvmem-cells = <0x5>;
		nvmem-cell-names = "cpu_leakage";
		linux,phandle = <0x3>;
		phandle = <0x3>;

		opp-408000000 {
			opp-hz = <0x0 0x18519600>;
			opp-microvolt = <0xee098>;
			opp-microvolt-L0 = <0xee098>;
			opp-microvolt-L1 = <0xe7ef0>;
			clock-latency-ns = <0x9c40>;
			opp-suspend;
		};

		opp-600000000 {
			opp-hz = <0x0 0x23c34600>;
			opp-microvolt = <0xee098>;
			opp-microvolt-L0 = <0xee098>;
			opp-microvolt-L1 = <0xe7ef0>;
			clock-latency-ns = <0x9c40>;
		};

		opp-816000000 {
			opp-hz = <0x0 0x30a32c00>;
			opp-microvolt = <0xfa3e8>;
			opp-microvolt-L0 = <0xfa3e8>;
			opp-microvolt-L1 = <0xf4240>;
			clock-latency-ns = <0x9c40>;
		};

		opp-1008000000 {
			opp-hz = <0x0 0x3c14dc00>;
			opp-microvolt = <0x112a88>;
			opp-microvolt-L0 = <0x112a88>;
			opp-microvolt-L1 = <0x10c8e0>;
			clock-latency-ns = <0x9c40>;
		};

		opp-1200000000 {
			opp-hz = <0x0 0x47868c00>;
			opp-microvolt = <0x1312d0>;
			opp-microvolt-L0 = <0x1312d0>;
			opp-microvolt-L1 = <0x12b128>;
			clock-latency-ns = <0x9c40>;
		};

		opp-1296000000 {
			opp-hz = <0x0 0x4d3f6400>;
			opp-microvolt = <0x1437c8>;
			opp-microvolt-L0 = <0x1437c8>;
			opp-microvolt-L1 = <0x13d620>;
			clock-latency-ns = <0x9c40>;
		};
	};

	arm-pmu {
		compatible = "arm,cortex-a53-pmu";
		interrupts = <0x0 0x64 0x4 0x0 0x65 0x4 0x0 0x66 0x4 0x0 0x67 0x4>;
		interrupt-affinity = <0x6 0x7 0x8 0x9>;
	};

	cpuinfo {
		compatible = "rockchip,cpuinfo";
		nvmem-cells = <0xa 0xb>;
		nvmem-cell-names = "id", "cpu-version";
	};

	firmware {

		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};

		android {
			compatible = "android,firmware";

			fstab {
				compatible = "android,fstab";

				system {
					compatible = "android,system";
					dev = "/dev/block/platform/ff520000.dwmmc/by-name/system";
					type = "ext4";
					mnt_flags = "ro,barrier=1,inode_readahead_blks=8";
					fsmgr_flags = "wait";
				};

				vendor {
					compatible = "android,vendor";
					dev = "/dev/block/platform/ff520000.dwmmc/by-name/vendor";
					type = "ext4";
					mnt_flags = "ro,barrier=1,inode_readahead_blks=8";
					fsmgr_flags = "wait";
				};
			};
		};
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	rockchip-suspend {
		compatible = "rockchip,pm-rk3328";
		status = "okay";
		rockchip,virtual-poweroff = <0x1>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <0x1 0xd 0xf08 0x1 0xe 0xf08 0x1 0xb 0xf08 0x1 0xa 0xf08>;
	};

	xin24m {
		compatible = "fixed-clock";
		#clock-cells = <0x0>;
		clock-frequency = <0x16e3600>;
		clock-output-names = "xin24m";
		linux,phandle = <0x54>;
		phandle = <0x54>;
	};

	i2s@ff000000 {
		compatible = "rockchip,rk3328-i2s", "rockchip,rk3066-i2s";
		reg = <0x0 0xff000000 0x0 0x1000>;
		interrupts = <0x0 0x1a 0x4>;
		clocks = <0x2 0x29 0x2 0x137>;
		clock-names = "i2s_clk", "i2s_hclk";
		dmas = <0xc 0xb 0xc 0xc>;
		#dma-cells = <0x2>;
		dma-names = "tx", "rx";
		status = "okay";
		#sound-dai-cells = <0x0>;
		rockchip,bclk-fs = <0x80>;
		linux,phandle = <0x86>;
		phandle = <0x86>;
	};

	i2s@ff010000 {
		compatible = "rockchip,rk3328-i2s", "rockchip,rk3066-i2s";
		reg = <0x0 0xff010000 0x0 0x1000>;
		interrupts = <0x0 0x1b 0x4>;
		clocks = <0x2 0x2a 0x2 0x138>;
		clock-names = "i2s_clk", "i2s_hclk";
		dmas = <0xc 0xe 0xc 0xf>;
		#dma-cells = <0x2>;
		dma-names = "tx", "rx";
		status = "okay";
		#sound-dai-cells = <0x0>;
		linux,phandle = <0x84>;
		phandle = <0x84>;
	};

	i2s@ff020000 {
		compatible = "rockchip,rk3328-i2s", "rockchip,rk3066-i2s";
		reg = <0x0 0xff020000 0x0 0x1000>;
		interrupts = <0x0 0x1c 0x4>;
		clocks = <0x2 0x2b 0x2 0x139>;
		clock-names = "i2s_clk", "i2s_hclk";
		dmas = <0xc 0x0 0xc 0x1>;
		#dma-cells = <0x2>;
		dma-names = "tx", "rx";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <0xd 0xe 0xf 0x10 0x11 0x12>;
		pinctrl-1 = <0x13>;
		status = "disabled";
	};

	spdif@ff030000 {
		compatible = "rockchip,rk3328-spdif";
		reg = <0x0 0xff030000 0x0 0x1000>;
		interrupts = <0x0 0x1d 0x4>;
		clocks = <0x2 0x2e 0x2 0x13a>;
		clock-names = "mclk", "hclk";
		dmas = <0xc 0xa>;
		#dma-cells = <0x1>;
		dma-names = "tx";
		pinctrl-names = "default";
		pinctrl-0 = <0x14>;
		status = "okay";
		#sound-dai-cells = <0x0>;
		linux,phandle = <0x88>;
		phandle = <0x88>;
	};

	pdm@ff040000 {
		compatible = "rockchip,pdm";
		reg = <0x0 0xff040000 0x0 0x1000>;
		clocks = <0x2 0x3d 0x2 0x152>;
		clock-names = "pdm_clk", "pdm_hclk";
		dmas = <0xc 0x10>;
		#dma-cells = <0x1>;
		dma-names = "rx";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <0x15 0x16 0x17 0x18 0x19 0x1a>;
		pinctrl-1 = <0x1b>;
		status = "disabled";
	};

	syscon@ff100000 {
		compatible = "rockchip,rk3328-grf", "syscon", "simple-mfd";
		reg = <0x0 0xff100000 0x0 0x1000>;
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		linux,phandle = <0x26>;
		phandle = <0x26>;

		io-domains {
			compatible = "rockchip,rk3328-io-voltage-domain";
			status = "okay";
			vccio1-supply = <0x1c>;
			vccio2-supply = <0x1d>;
			vccio3-supply = <0x1c>;
			vccio4-supply = <0x1d>;
			vccio5-supply = <0x1c>;
			vccio6-supply = <0x1c>;
			pmuio-supply = <0x1c>;
		};

		power-controller {
			compatible = "rockchip,rk3328-power-controller";
			#power-domain-cells = <0x1>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			status = "okay";
			linux,phandle = <0x3f>;
			phandle = <0x3f>;

			pd_hevc@6 {
				reg = <0x6>;
			};

			pd_video@5 {
				reg = <0x5>;
				clocks = <0x2 0x8b 0x2 0x142 0x2 0x41 0x2 0x42>;
				pm_qos = <0x1e 0x1f>;
			};

			pd_vpu@8 {
				reg = <0x8>;
				clocks = <0x2 0x8f 0x2 0x146>;
				pm_qos = <0x20>;
			};
		};

		reboot-mode {
			compatible = "syscon-reboot-mode";
			offset = <0x5c8>;
			mode-bootloader = <0x5242c301>;
			mode-charge = <0x5242c30b>;
			mode-fastboot = <0x5242c309>;
			mode-loader = <0x5242c301>;
			mode-normal = <0x5242c300>;
			mode-recovery = <0x5242c303>;
			mode-ums = <0x5242c30c>;
		};
	};

	thermal-zones {

		soc-thermal {
			polling-delay-passive = <0x14>;
			polling-delay = <0x3e8>;
			sustainable-power = <0x3e8>;
			thermal-sensors = <0x21 0x0>;

			trips {

				trip-point@0 {
					temperature = <0x15f90>;
					hysteresis = <0x7d0>;
					type = "passive";
				};

				trip-point@1 {
					temperature = <0x19a28>;
					hysteresis = <0x7d0>;
					type = "passive";
					linux,phandle = <0x22>;
					phandle = <0x22>;
				};

				soc-crit {
					temperature = <0x1adb0>;
					hysteresis = <0x7d0>;
					type = "critical";
				};
			};

			cooling-maps {

				map0 {
					trip = <0x22>;
					cooling-device = <0x6 0xffffffff 0xffffffff>;
					contribution = <0x1000>;
				};

				map1 {
					trip = <0x22>;
					cooling-device = <0x23 0xffffffff 0xffffffff>;
					contribution = <0x1000>;
				};

				map2 {
					trip = <0x22>;
					cooling-device = <0x24 0xffffffff 0xffffffff>;
					contribution = <0x400>;
				};

				map3 {
					trip = <0x22>;
					cooling-device = <0x25 0xffffffff 0xffffffff>;
					contribution = <0x400>;
				};
			};
		};
	};

	tsadc@ff250000 {
		compatible = "rockchip,rk3328-tsadc";
		reg = <0x0 0xff250000 0x0 0x100>;
		interrupts = <0x0 0x3a 0x4>;
		rockchip,grf = <0x26>;
		clocks = <0x2 0x24 0x2 0xd5>;
		clock-names = "tsadc", "apb_pclk";
		assigned-clocks = <0x2 0x24>;
		assigned-clock-rates = <0xc350>;
		resets = <0x2 0x42>;
		reset-names = "tsadc-apb";
		pinctrl-names = "init", "default", "sleep";
		pinctrl-0 = <0x27>;
		pinctrl-1 = <0x28>;
		pinctrl-2 = <0x27>;
		#thermal-sensor-cells = <0x1>;
		rockchip,hw-tshut-temp = <0x1d4c0>;
		status = "okay";
		linux,phandle = <0x21>;
		phandle = <0x21>;
	};

	serial@ff110000 {
		compatible = "rockchip,rk3328-uart", "snps,dw-apb-uart";
		reg = <0x0 0xff110000 0x0 0x100>;
		interrupts = <0x0 0x37 0x4>;
		clocks = <0x2 0x26 0x2 0xd2>;
		clock-names = "baudclk", "apb_pclk";
		reg-shift = <0x2>;
		reg-io-width = <0x4>;
		dmas = <0xc 0x2 0xc 0x3>;
		#dma-cells = <0x2>;
		pinctrl-names = "default";
		pinctrl-0 = <0x29 0x2a>;
		status = "okay";
	};

	serial@ff120000 {
		compatible = "rockchip,rk3328-uart", "snps,dw-apb-uart";
		reg = <0x0 0xff120000 0x0 0x100>;
		interrupts = <0x0 0x38 0x4>;
		clocks = <0x2 0x27 0x2 0xd3>;
		clock-names = "sclk_uart", "pclk_uart";
		reg-shift = <0x2>;
		reg-io-width = <0x4>;
		dmas = <0xc 0x4 0xc 0x5>;
		#dma-cells = <0x2>;
		pinctrl-names = "default";
		pinctrl-0 = <0x2b 0x2c 0x2d>;
		status = "disabled";
	};

	serial@ff130000 {
		compatible = "rockchip,rk3328-uart", "snps,dw-apb-uart";
		reg = <0x0 0xff130000 0x0 0x100>;
		interrupts = <0x0 0x39 0x4>;
		clocks = <0x2 0x28 0x2 0xd4>;
		clock-names = "baudclk", "apb_pclk";
		reg-shift = <0x2>;
		reg-io-width = <0x4>;
		dmas = <0xc 0x6 0xc 0x7>;
		#dma-cells = <0x2>;
		pinctrl-names = "default";
		pinctrl-0 = <0x2e>;
		status = "disabled";
	};

	power-management@ff140000 {
		compatible = "rockchip,rk3328-pmu", "syscon", "simple-mfd";
		reg = <0x0 0xff140000 0x0 0x1000>;
	};

	i2c@ff150000 {
		compatible = "rockchip,rk3328-i2c", "rockchip,rk3399-i2c";
		reg = <0x0 0xff150000 0x0 0x1000>;
		interrupts = <0x0 0x24 0x4>;
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		clocks = <0x2 0x37 0x2 0xcd>;
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		pinctrl-0 = <0x2f>;
		status = "disabled";
	};

	i2c@ff160000 {
		compatible = "rockchip,rk3328-i2c", "rockchip,rk3399-i2c";
		reg = <0x0 0xff160000 0x0 0x1000>;
		interrupts = <0x0 0x25 0x4>;
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		clocks = <0x2 0x38 0x2 0xce>;
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		pinctrl-0 = <0x30>;
		status = "disabled";
	};

	i2c@ff170000 {
		compatible = "rockchip,rk3328-i2c", "rockchip,rk3399-i2c";
		reg = <0x0 0xff170000 0x0 0x1000>;
		interrupts = <0x0 0x26 0x4>;
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		clocks = <0x2 0x39 0x2 0xcf>;
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		pinctrl-0 = <0x31>;
		status = "disabled";
	};

	i2c@ff180000 {
		compatible = "rockchip,rk3328-i2c", "rockchip,rk3399-i2c";
		reg = <0x0 0xff180000 0x0 0x1000>;
		interrupts = <0x0 0x27 0x4>;
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		clocks = <0x2 0x3a 0x2 0xd0>;
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		pinctrl-0 = <0x32>;
		status = "disabled";
	};

	spi@ff190000 {
		compatible = "rockchip,rk3328-spi", "rockchip,rk3066-spi";
		reg = <0x0 0xff190000 0x0 0x1000>;
		interrupts = <0x0 0x31 0x4>;
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		clocks = <0x2 0x20 0x2 0xd1>;
		clock-names = "spiclk", "apb_pclk";
		dmas = <0xc 0x8 0xc 0x9>;
		#dma-cells = <0x2>;
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		pinctrl-0 = <0x33 0x34 0x35 0x36>;
		status = "disabled";
	};

	watchdog@ff1a0000 {
		compatible = "snps,dw-wdt";
		reg = <0x0 0xff1a0000 0x0 0x100>;
		interrupts = <0x0 0x28 0x4>;
		status = "disabled";
	};

	pwm@ff1b0000 {
		compatible = "rockchip,rk3328-pwm";
		reg = <0x0 0xff1b0000 0x0 0x10>;
		#pwm-cells = <0x3>;
		pinctrl-names = "default";
		pinctrl-0 = <0x37>;
		clocks = <0x2 0x3c 0x2 0xd6>;
		clock-names = "pwm", "pclk";
		status = "okay";
		linux,phandle = <0x8e>;
		phandle = <0x8e>;
	};

	pwm@ff1b0010 {
		compatible = "rockchip,rk3328-pwm";
		reg = <0x0 0xff1b0010 0x0 0x10>;
		#pwm-cells = <0x3>;
		pinctrl-names = "default";
		pinctrl-0 = <0x38>;
		clocks = <0x2 0x3c 0x2 0xd6>;
		clock-names = "pwm", "pclk";
		status = "okay";
		linux,phandle = <0x8f>;
		phandle = <0x8f>;
	};

	pwm@ff1b0020 {
		compatible = "rockchip,rk3328-pwm";
		reg = <0x0 0xff1b0020 0x0 0x10>;
		#pwm-cells = <0x3>;
		pinctrl-names = "default";
		pinctrl-0 = <0x39>;
		clocks = <0x2 0x3c 0x2 0xd6>;
		clock-names = "pwm", "pclk";
		status = "disabled";
	};

	pwm@ff1b0030 {
		compatible = "rockchip,remotectl-pwm";
		reg = <0x0 0xff1b0030 0x0 0x10>;
		interrupts = <0x0 0x32 0x4>;
		#pwm-cells = <0x3>;
		pinctrl-names = "default";
		pinctrl-0 = <0x3a>;
		clocks = <0x2 0x3c 0x2 0xd6>;
		clock-names = "pwm", "pclk";
		status = "okay";
		remote_pwm_id = <0x3>;
		handle_cpu_id = <0x1>;
		remote_support_psci = <0x1>;

		ir_key1 {
			rockchip,usercode = <0xfe01>;
			rockchip,key_table = <0xec 0xe8 0xe6 0x9e 0xe9 0x67 0xe5 0x6c 0xae 0x69 0xaf 0x6a 0xee 0x66 0xe7 0x73 0xef 0x72 0xbf 0x74 0xbe 0x71 0xb3 0x8b 0xbd 0xe 0xbc 0xda 0xf0 0x8c 0xff 0x184 0xb1 0x2 0xf2 0x3 0xf3 0x4 0xb5 0x5 0xf6 0x6 0xf7 0x7 0xb9 0x8 0xfa 0x9 0xfb 0xa 0xb4 0xb2 0xb0 0xb3 0xfd 0xb7 0xdb 0xb4 0xd9 0xb5 0xf8 0xb6 0xfe 0xb>;
		};
	};

	amba {
		compatible = "simple-bus";
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;

		dmac@ff1f0000 {
			compatible = "arm,pl330", "arm,primecell";
			reg = <0x0 0xff1f0000 0x0 0x4000>;
			interrupts = <0x0 0x0 0x4 0x0 0x1 0x4>;
			clocks = <0x2 0x86>;
			clock-names = "apb_pclk";
			#dma-cells = <0x1>;
			peripherals-req-type-burst;
			linux,phandle = <0xc>;
			phandle = <0xc>;
		};
	};

	efuse@ff260000 {
		compatible = "rockchip,rk3328-efuse";
		reg = <0x0 0xff260000 0x0 0x50>;
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		clocks = <0x2 0x3e>;
		clock-names = "pclk_efuse";
		rockchip,efuse-size = <0x20>;

		id@7 {
			reg = <0x7 0x10>;
			linux,phandle = <0xa>;
			phandle = <0xa>;
		};

		cpu-leakage@17 {
			reg = <0x17 0x1>;
			linux,phandle = <0x5>;
			phandle = <0x5>;
		};

		logic-leakage@19 {
			reg = <0x19 0x1>;
			linux,phandle = <0x3d>;
			phandle = <0x3d>;
		};

		cpu-version@1a {
			reg = <0x1a 0x1>;
			bits = <0x3 0x3>;
			linux,phandle = <0xb>;
			phandle = <0xb>;
		};
	};

	saradc@ff280000 {
		compatible = "rockchip,rk3328-saradc", "rockchip,rk3399-saradc";
		reg = <0x0 0xff280000 0x0 0x100>;
		interrupts = <0x0 0x50 0x4>;
		#io-channel-cells = <0x1>;
		clocks = <0x2 0x25 0x2 0xea>;
		clock-names = "saradc", "apb_pclk";
		resets = <0x2 0x56>;
		reset-names = "saradc-apb";
		status = "disabled";
	};

	gpu@ff300000 {
		compatible = "arm,mali-450";
		reg = <0x0 0xff300000 0x0 0x40000 0x0 0xff300000 0x0 0x40000>;
		interrupts = <0x0 0x5a 0x4 0x0 0x57 0x4 0x0 0x5d 0x4 0x0 0x58 0x4 0x0 0x59 0x4 0x0 0x5b 0x4 0x0 0x5c 0x4>;
		interrupt-names = "Mali_GP_IRQ", "Mali_GP_MMU_IRQ", "IRQPP", "Mali_PP0_IRQ", "Mali_PP0_MMU_IRQ", "Mali_PP1_IRQ", "Mali_PP1_MMU_IRQ";
		clocks = <0x2 0x87>;
		clock-names = "clk_mali";
		#cooling-cells = <0x2>;
		operating-points-v2 = <0x3b>;
		status = "okay";
		mali-supply = <0x3c>;
		linux,phandle = <0x23>;
		phandle = <0x23>;

		power_model {
			compatible = "arm,mali-simple-power-model";
			voltage = <0x384>;
			frequency = <0x1f4>;
			static-power = <0x12c>;
			dynamic-power = <0x18c>;
			ts = <0x7d00 0x125c 0xffffffb0 0x2>;
			thermal-zone = "soc-thermal";
		};
	};

	gpu-opp-table {
		compatible = "operating-points-v2";
		rockchip,leakage-voltage-sel = <0x1 0x8 0x0 0x9 0xfe 0x1>;
		nvmem-cells = <0x3d>;
		nvmem-cell-names = "gpu_leakage";
		linux,phandle = <0x3b>;
		phandle = <0x3b>;

		opp-200000000 {
			opp-hz = <0x0 0xbebc200>;
			opp-microvolt = <0xe1d48>;
			opp-microvolt-L0 = <0xe1d48>;
			opp-microvolt-L1 = <0xdbba0>;
		};

		opp-300000000 {
			opp-hz = <0x0 0x11e1a300>;
			opp-microvolt = <0xee098>;
			opp-microvolt-L0 = <0xee098>;
			opp-microvolt-L1 = <0xe7ef0>;
		};

		opp-400000000 {
			opp-hz = <0x0 0x17d78400>;
			opp-microvolt = <0x100590>;
			opp-microvolt-L0 = <0x100590>;
			opp-microvolt-L1 = <0xfa3e8>;
		};

		opp-500000000 {
			opp-hz = <0x0 0x1dcd6500>;
			opp-microvolt = <0x112a88>;
			opp-microvolt-L0 = <0x112a88>;
			opp-microvolt-L1 = <0x10c8e0>;
		};
	};

	vpu_service@ff350000 {
		compatible = "vpu,sub";
		iommu_enabled = <0x1>;
		iommus = <0x3e>;
		allocator = <0x1>;
		reg = <0x0 0xff350000 0x0 0x800>;
		interrupts = <0x0 0x9 0x4>;
		interrupt-names = "irq_dec";
		dev_mode = <0x0>;
		power-domains = <0x3f 0x8>;
		linux,phandle = <0x40>;
		phandle = <0x40>;
	};

	iommu@ff350800 {
		compatible = "rockchip,iommu";
		reg = <0x0 0xff350800 0x0 0x40>;
		interrupts = <0x0 0xb 0x4>;
		interrupt-names = "vpu_mmu";
		clock-names = "aclk", "hclk";
		clocks = <0x2 0x8f 0x2 0x146>;
		power-domains = <0x3f 0x8>;
		#iommu-cells = <0x0>;
		linux,phandle = <0x3e>;
		phandle = <0x3e>;
	};

	avsd@ff351000 {
		compatible = "vpu,sub";
		iommu_enabled = <0x1>;
		iommus = <0x3e>;
		allocator = <0x1>;
		reg = <0x0 0xff351000 0x0 0x200>;
		interrupts = <0x0 0x9 0x4>;
		interrupt-names = "irq_dec";
		power-domains = <0x3f 0x8>;
		dev_mode = <0x0>;
		linux,phandle = <0x41>;
		phandle = <0x41>;
	};

	vpu_combo {
		compatible = "rockchip,rk3328-vpu-combo", "rockchip,vpu_combo";
		rockchip,grf = <0x26>;
		subcnt = <0x2>;
		rockchip,sub = <0x40 0x41>;
		clocks = <0x2 0x8f 0x2 0x146>;
		clock-names = "aclk_vcodec", "hclk_vcodec";
		resets = <0x2 0xa0 0x2 0xa2>;
		reset-names = "video_a", "video_h";
		mode_bit = <0x0>;
		mode_ctrl = <0x0>;
		power-domains = <0x3f 0x8>;
		status = "okay";
	};

	rkvdec@ff36000 {
		compatible = "rockchip,rk3328-rkvdec", "rockchip,rkvdec";
		reg = <0x0 0xff360000 0x0 0x400>;
		interrupts = <0x0 0x7 0x4>;
		interrupt-names = "irq_dec";
		clocks = <0x2 0x8b 0x2 0x142 0x2 0x41 0x2 0x42>;
		clock-names = "aclk_vcodec", "hclk_vcodec", "clk_cabac", "clk_core";
		resets = <0x2 0xa4 0x2 0xa6 0x2 0xa5 0x2 0xa7 0x2 0xa9 0x2 0xa8>;
		reset-names = "video_a", "video_h", "niu_a", "niu_h", "video_cabac", "video_core";
		rockchip,grf = <0x26>;
		iommus = <0x42>;
		allocator = <0x1>;
		power-domains = <0x3f 0x5>;
		operating-points-v2 = <0x43>;
		#cooling-cells = <0x2>;
		devfreq = <0x25>;
		status = "okay";
		vcodec-supply = <0x3c>;
		linux,phandle = <0x24>;
		phandle = <0x24>;

		vcodec_power_model {
			compatible = "vcodec_power_model";
			dynamic-power-coefficient = <0x78>;
			static-power-coefficient = <0xc8>;
			ts = <0x7d00 0x125c 0xffffffb0 0x2>;
			thermal-zone = "soc-thermal";
		};
	};

	rkvdec-opp-table {
		compatible = "operating-points-v2";
		rockchip,leakage-voltage-sel = <0x1 0x8 0x0 0x9 0xfe 0x1>;
		nvmem-cells = <0x3d>;
		nvmem-cell-names = "rkvdec_leakage";
		linux,phandle = <0x43>;
		phandle = <0x43>;

		opp-100000000 {
			opp-hz = <0x0 0x5f5e100>;
			opp-microvolt = <0xee098>;
			opp-microvolt-L0 = <0xee098>;
			opp-microvolt-L1 = <0xe7ef0>;
		};

		opp-200000000 {
			opp-hz = <0x0 0xbebc200>;
			opp-microvolt = <0xee098>;
			opp-microvolt-L0 = <0xee098>;
			opp-microvolt-L1 = <0xe7ef0>;
		};

		opp-500000000 {
			opp-hz = <0x0 0x1dcd6500>;
			opp-microvolt = <0x106738>;
			opp-microvolt-L0 = <0x106738>;
			opp-microvolt-L1 = <0x100590>;
		};
	};

	iommu@ff360480 {
		compatible = "rockchip,iommu";
		reg = <0x0 0xff360480 0x0 0x40 0x0 0xff3604c0 0x0 0x40>;
		interrupts = <0x0 0x4a 0x4>;
		interrupt-names = "rkvdec_mmu";
		clocks = <0x2 0x8b 0x2 0x142>;
		clock-names = "aclk_vcodec", "hclk_vcodec";
		power-domains = <0x3f 0x5>;
		#iommu-cells = <0x0>;
		linux,phandle = <0x42>;
		phandle = <0x42>;
	};

	h265e@ff330000 {
		compatible = "rockchip,h265e";
		rockchip,grf = <0x26>;
		iommu_enabled = <0x1>;
		iommus = <0x44>;
		reg = <0x0 0xff330000 0x0 0x200>;
		interrupts = <0x0 0x5f 0x4>;
		clocks = <0x2 0x93 0x2 0xdd 0x2 0x44 0x2 0x43 0x2 0x8c 0x2 0x82>;
		clock-names = "aclk_h265", "pclk_h265", "clk_core", "clk_dsp", "aclk_venc", "aclk_axi2sram";
		rockchip,srv = <0x45>;
		mode_bit = <0xb>;
		mode_ctrl = <0x40c>;
		allocator = <0x1>;
		power-domains = <0x3f 0x6>;
		status = "okay";
	};

	iommu@ff330200 {
		compatible = "rockchip,iommu";
		reg = <0x0 0xff330200 0x0 0x100>;
		interrupts = <0x0 0x60 0x4>;
		interrupt-names = "h265e_mmu";
		clocks = <0x2 0x93 0x2 0xdd>;
		clock-names = "aclk", "hclk";
		power-domains = <0x3f 0x6>;
		#iommu-cells = <0x0>;
		linux,phandle = <0x44>;
		phandle = <0x44>;
	};

	vepu@ff340000 {
		compatible = "rockchip,rk3328-vepu", "rockchip,vepu";
		rockchip,grf = <0x26>;
		iommu_enabled = <0x1>;
		iommus = <0x46>;
		reg = <0x0 0xff340000 0x0 0x400>;
		interrupts = <0x0 0x61 0x4>;
		clocks = <0x2 0x94 0x2 0x14a 0x2 0x44>;
		clock-names = "aclk_vcodec", "hclk_vcodec", "clk_core";
		resets = <0x2 0xb7 0x2 0xb6>;
		reset-names = "video_h", "video_a";
		rockchip,srv = <0x45>;
		mode_bit = <0xb>;
		mode_ctrl = <0x40c>;
		allocator = <0x1>;
		power-domains = <0x3f 0x6>;
		status = "okay";
	};

	iommu@ff340800 {
		compatible = "rockchip,iommu";
		reg = <0x0 0xff340800 0x0 0x40>;
		interrupts = <0x0 0x62 0x4>;
		interrupt-names = "vepu_mmu";
		clocks = <0x2 0x94 0x2 0x14a>;
		clock-names = "aclk", "hclk";
		power-domains = <0x3f 0x6>;
		#iommu-cells = <0x0>;
		linux,phandle = <0x46>;
		phandle = <0x46>;
	};

	venc_srv {
		compatible = "rockchip,mpp_service";
		linux,phandle = <0x45>;
		phandle = <0x45>;
	};

	vop@ff370000 {
		compatible = "rockchip,rk3328-vop";
		reg = <0x0 0xff370000 0x0 0x3efc>;
		interrupts = <0x0 0x20 0x4>;
		clocks = <0x2 0x91 0x2 0x78 0x2 0x13b>;
		clock-names = "aclk_vop", "dclk_vop", "hclk_vop";
		resets = <0x2 0x85 0x2 0x86 0x2 0x87>;
		reset-names = "axi", "ahb", "dclk";
		iommus = <0x47>;
		status = "okay";

		port {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			linux,phandle = <0x52>;
			phandle = <0x52>;

			endpoint@0 {
				reg = <0x0>;
				remote-endpoint = <0x48>;
				linux,phandle = <0x50>;
				phandle = <0x50>;
			};

			endpoint@1 {
				reg = <0x1>;
				remote-endpoint = <0x49>;
				linux,phandle = <0x51>;
				phandle = <0x51>;
			};
		};
	};

	iommu@ff373f00 {
		compatible = "rockchip,iommu";
		reg = <0x0 0xff373f00 0x0 0x100>;
		interrupts = <0x0 0x20 0x4>;
		interrupt-names = "vop_mmu";
		clocks = <0x2 0x91 0x2 0x13b>;
		clock-names = "aclk", "hclk";
		#iommu-cells = <0x0>;
		status = "okay";
		linux,phandle = <0x47>;
		phandle = <0x47>;
	};

	rga@ff3900000 {
		compatible = "rockchip,rga2";
		dev_mode = <0x1>;
		reg = <0x0 0xff390000 0x0 0x1000>;
		interrupts = <0x0 0x21 0x4>;
		clocks = <0x2 0x9a 0x2 0x154 0x2 0x45>;
		clock-names = "aclk_rga", "hclk_rga", "clk_rga";
		dma-coherent;
		status = "okay";
	};

	iep@ff3a0000 {
		compatible = "rockchip,iep";
		iommu_enabled = <0x1>;
		iommus = <0x4a>;
		reg = <0x0 0xff3a0000 0x0 0x800>;
		interrupts = <0x0 0x1f 0x4>;
		clocks = <0x2 0x9b 0x2 0x153>;
		clock-names = "aclk_iep", "hclk_iep";
		power-domains = <0x3f 0x5>;
		allocator = <0x1>;
		version = <0x2>;
		status = "okay";
	};

	iommu@ff3a0800 {
		compatible = "rockchip,iommu";
		reg = <0x0 0xff3a0800 0x0 0x40>;
		interrupts = <0x0 0x1f 0x4>;
		interrupt-names = "iep_mmu";
		clocks = <0x2 0x9b 0x2 0x153>;
		clock-names = "aclk", "hclk";
		power-domains = <0x3f 0x5>;
		#iommu-cells = <0x0>;
		status = "okay";
		linux,phandle = <0x4a>;
		phandle = <0x4a>;
	};

	hdmi@ff3c0000 {
		compatible = "rockchip,rk3328-dw-hdmi";
		reg = <0x0 0xff3c0000 0x0 0x20000>;
		reg-io-width = <0x4>;
		interrupts = <0x0 0x23 0x4 0x0 0x47 0x4>;
		clocks = <0x2 0xe7 0x2 0x46 0x2 0x1e 0x2 0x147>;
		clock-names = "iahb", "isfr", "cec", "hclk_vio";
		phys = <0x4b>;
		phy-names = "hdmi_phy";
		pinctrl-names = "default", "gpio";
		pinctrl-0 = <0x4c 0x4d 0x4e>;
		pinctrl-1 = <0x4f>;
		resets = <0x2 0x8f 0x2 0x51>;
		reset-names = "hdmi", "hdmiphy";
		rockchip,grf = <0x26>;
		status = "okay";
		#sound-dai-cells = <0x0>;
		ddc-i2c-scl-high-time-ns = <0x2599>;
		ddc-i2c-scl-low-time-ns = <0x2710>;
		linux,phandle = <0x87>;
		phandle = <0x87>;

		ports {

			port {
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				endpoint@0 {
					reg = <0x0>;
					remote-endpoint = <0x50>;
					linux,phandle = <0x48>;
					phandle = <0x48>;
				};
			};
		};
	};

	tve@ff373e00 {
		compatible = "rockchip,rk3328-tve";
		reg = <0x0 0xff373e00 0x0 0x100 0x0 0xff420000 0x0 0x10000>;
		rockchip,saturation = <0x376749>;
		rockchip,brightcontrast = <0xa305>;
		rockchip,adjtiming = <0xb6c00880>;
		rockchip,lumafilter0 = <0x1ff0000>;
		rockchip,lumafilter1 = <0xf40200fe>;
		rockchip,lumafilter2 = <0xf332d70c>;
		rockchip,daclevel = <0x22>;
		rockchip,dac1level = <0x7>;
		status = "okay";

		ports {

			port {
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				endpoint@0 {
					reg = <0x0>;
					remote-endpoint = <0x51>;
					linux,phandle = <0x49>;
					phandle = <0x49>;
				};
			};
		};
	};

	display-subsystem {
		compatible = "rockchip,display-subsystem";
		ports = <0x52>;
		status = "okay";
		logo-memory-region = <0x53>;

		route {

			route-hdmi {
				overscan,bottom_margin = <0x64>;
				overscan,top_margin = <0x64>;
				overscan,right_margin = <0x64>;
				overscan,left_margin = <0x64>;
				video,flags = <0x5>;
				video,vrefresh = <0x3c>;
				video,crtc_vsync_end = <0x441>;
				video,crtc_hsync_end = <0x804>;
				video,vdisplay = <0x438>;
				video,hdisplay = <0x780>;
				logo,ymirror = <0x0>;
				logo,bpp = <0x10>;
				logo,height = <0x438>;
				logo,width = <0x780>;
				logo,offset = <0x0>;
				status = "okay";
				logo,uboot = "logo.bmp";
				logo,kernel = "logo_kernel.bmp";
				logo,mode = "fullscreen";
				charge_logo,mode = "fullscreen";
				connect = <0x50>;
			};

			route-tve {
				overscan,bottom_margin = <0x64>;
				overscan,top_margin = <0x64>;
				overscan,right_margin = <0x64>;
				overscan,left_margin = <0x64>;
				video,flags = <0x0>;
				video,vrefresh = <0x0>;
				video,crtc_vsync_end = <0x0>;
				video,crtc_hsync_end = <0x0>;
				video,vdisplay = <0x0>;
				video,hdisplay = <0x0>;
				logo,ymirror = <0x0>;
				logo,bpp = <0x10>;
				logo,height = <0x438>;
				logo,width = <0x780>;
				logo,offset = <0x0>;
				status = "okay";
				logo,uboot = "logo.bmp";
				logo,kernel = "logo_kernel.bmp";
				logo,mode = "fullscreen";
				charge_logo,mode = "fullscreen";
				connect = <0x51>;
			};
		};
	};

	codec@ff410000 {
		compatible = "rockchip,rk3328-codec";
		reg = <0x0 0xff410000 0x0 0x1000>;
		rockchip,grf = <0x26>;
		clocks = <0x2 0xeb 0x2 0x2a>;
		clock-names = "pclk", "mclk";
		status = "okay";
		#sound-dai-cells = <0x0>;
		linux,phandle = <0x85>;
		phandle = <0x85>;
	};

	hdmiphy@ff430000 {
		compatible = "rockchip,rk3328-hdmi-phy";
		reg = <0x0 0xff430000 0x0 0x10000>;
		interrupts = <0x0 0x53 0x4>;
		#phy-cells = <0x0>;
		clocks = <0x2 0xe4 0x54>;
		clock-names = "sysclk", "refclk";
		#clock-cells = <0x0>;
		clock-output-names = "hdmi_phy";
		status = "okay";
		linux,phandle = <0x4b>;
		phandle = <0x4b>;
	};

	clock-controller@ff440000 {
		compatible = "rockchip,rk3328-cru", "rockchip,cru", "syscon";
		reg = <0x0 0xff440000 0x0 0x1000>;
		rockchip,grf = <0x26>;
		#clock-cells = <0x1>;
		#reset-cells = <0x1>;
		assigned-clocks = <0x2 0x78 0x2 0x3d 0x2 0x1e 0x2 0x26 0x2 0x27 0x2 0x28 0x2 0x88 0x2 0x89 0x2 0x85 0x2 0x8a 0x2 0x8c 0x2 0x8d 0x2 0x41 0x2 0x42 0x2 0x44 0x2 0x43 0x2 0x22 0x2 0x5c 0x2 0x35 0x2 0x6 0x2 0x4 0x2 0x3 0x2 0x88 0x2 0x148 0x2 0xd8 0x2 0x89 0x2 0x134 0x2 0xe6 0x2 0x8e 0x2 0x145 0x2 0x85 0x2 0x45 0x2 0x83 0x2 0x8a 0x2 0x8c 0x2 0x8d 0x2 0x41 0x2 0x42 0x2 0x44 0x2 0x43 0x2 0x3e 0x2 0xe5 0x2 0x92 0x2 0xdc 0x2 0x1e 0x2 0x61>;
		assigned-clock-parents = <0x2 0x7a 0x2 0x1 0x2 0x4 0x54 0x54 0x54>;
		assigned-clock-rates = <0x0 0x3a98000 0x0 0x16e3600 0x16e3600 0x16e3600 0xe4e1c0 0xe4e1c0 0x5f5e100 0x5f5e100 0x2faf080 0x5f5e100 0x5f5e100 0x5f5e100 0x2faf080 0x2faf080 0x2faf080 0x2faf080 0x16e3600 0x23c34600 0x1d4c0000 0x47868c00 0x8f0d180 0x47868c0 0x47868c0 0x8f0d180 0x47868c0 0x47868c0 0x11e1a300 0x5f5e100 0x11e1a300 0xbebc200 0x17d78400 0x1dcd6500 0xbebc200 0x11e1a300 0x11e1a300 0xee6b280 0xbebc200 0x5f5e100 0x16e3600 0x5f5e100 0x8f0d180 0x2faf080 0x8000 0x8000>;
		linux,phandle = <0x2>;
		phandle = <0x2>;
	};

	syscon@ff450000 {
		compatible = "rockchip,rk3328-usb2phy-grf", "syscon", "simple-mfd";
		reg = <0x0 0xff450000 0x0 0x10000>;
		#address-cells = <0x1>;
		#size-cells = <0x1>;

		usb2-phy@100 {
			compatible = "rockchip,rk3328-usb2phy";
			reg = <0x100 0x10>;
			clocks = <0x54>;
			clock-names = "phyclk";
			#clock-cells = <0x0>;
			assigned-clocks = <0x2 0x7b>;
			assigned-clock-parents = <0x55>;
			clock-output-names = "usb480m_phy";
			status = "okay";
			linux,phandle = <0x55>;
			phandle = <0x55>;

			host-port {
				#phy-cells = <0x0>;
				interrupts = <0x0 0x3e 0x4>;
				interrupt-names = "linestate";
				status = "okay";
				linux,phandle = <0x6a>;
				phandle = <0x6a>;
			};

			otg-port {
				#phy-cells = <0x0>;
				interrupts = <0x0 0x3b 0x4 0x0 0x3c 0x4 0x0 0x3d 0x4>;
				interrupt-names = "otg-bvalid", "otg-id", "linestate";
				status = "okay";
				linux,phandle = <0x69>;
				phandle = <0x69>;
			};
		};
	};

	syscon@ff460000 {
		compatible = "rockchip,usb3phy-grf", "syscon";
		reg = <0x0 0xff460000 0x0 0x1000>;
		linux,phandle = <0x56>;
		phandle = <0x56>;
	};

	usb3-phy@ff470000 {
		compatible = "rockchip,rk3328-u3phy";
		reg = <0x0 0xff470000 0x0 0x0>;
		rockchip,u3phygrf = <0x56>;
		rockchip,grf = <0x26>;
		interrupts = <0x0 0x4d 0x4>;
		interrupt-names = "linestate";
		clocks = <0x2 0xe0 0x2 0xe1>;
		clock-names = "u3phy-otg", "u3phy-pipe";
		resets = <0x2 0x7d 0x2 0x7e 0x2 0x7f 0x2 0x7c 0x2 0x9e 0x2 0x9f>;
		reset-names = "u3phy-u2-por", "u3phy-u3-por", "u3phy-pipe-mac", "u3phy-utmi-mac", "u3phy-utmi-apb", "u3phy-pipe-apb";
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;
		status = "okay";
		vbus-supply = <0x57>;

		utmi@ff470000 {
			reg = <0x0 0xff470000 0x0 0x8000>;
			#phy-cells = <0x0>;
			status = "okay";
			linux,phandle = <0x6f>;
			phandle = <0x6f>;
		};

		pipe@ff478000 {
			reg = <0x0 0xff478000 0x0 0x8000>;
			#phy-cells = <0x0>;
			status = "okay";
			linux,phandle = <0x70>;
			phandle = <0x70>;
		};
	};

	dwmmc@ff500000 {
		compatible = "rockchip,rk3328-dw-mshc", "rockchip,rk3288-dw-mshc";
		reg = <0x0 0xff500000 0x0 0x4000>;
		clock-freq-min-max = <0x61a80 0x8f0d180>;
		clocks = <0x2 0x13d 0x2 0x21 0x2 0x4a 0x2 0x4e>;
		clock-names = "biu", "ciu", "ciu-drv", "ciu-sample";
		fifo-depth = <0x100>;
		interrupts = <0x0 0xc 0x4>;
		status = "okay";
		bus-width = <0x4>;
		cap-mmc-highspeed;
		cap-sd-highspeed;
		disable-wp;
		max-frequency = <0x8f0d180>;
		num-slots = <0x1>;
		pinctrl-names = "default";
		pinctrl-0 = <0x58 0x59 0x5a 0x5b>;
		supports-sd;
	};

	dwmmc@ff510000 {
		compatible = "rockchip,rk3328-dw-mshc", "rockchip,rk3288-dw-mshc";
		reg = <0x0 0xff510000 0x0 0x4000>;
		clock-freq-min-max = <0x61a80 0x8f0d180>;
		clocks = <0x2 0x13e 0x2 0x22 0x2 0x4b 0x2 0x4f>;
		clock-names = "biu", "ciu", "ciu-drv", "ciu-sample";
		fifo-depth = <0x100>;
		interrupts = <0x0 0xd 0x4>;
		status = "okay";
		bus-width = <0x4>;
		cap-sd-highspeed;
		cap-sdio-irq;
		disable-wp;
		keep-power-in-suspend;
		max-frequency = <0x8f0d180>;
		mmc-pwrseq = <0x5c>;
		non-removable;
		num-slots = <0x1>;
		pinctrl-names = "default";
		pinctrl-0 = <0x5d 0x5e 0x5f>;
		supports-sdio;
		sd-uhs-sdr104;
	};

	dwmmc@ff520000 {
		compatible = "rockchip,rk3328-dw-mshc", "rockchip,rk3288-dw-mshc";
		reg = <0x0 0xff520000 0x0 0x4000>;
		clock-freq-min-max = <0x61a80 0x2faf080>;
		clocks = <0x2 0x13f 0x2 0x23 0x2 0x4c 0x2 0x50>;
		clock-names = "biu", "ciu", "ciu-drv", "ciu-sample";
		fifo-depth = <0x100>;
		interrupts = <0x0 0xe 0x4>;
		status = "okay";
		bus-width = <0x8>;
		cap-mmc-highspeed;
		mmc-hs200-1_8v;
		supports-emmc;
		disable-wp;
		non-removable;
		num-slots = <0x1>;
		pinctrl-names = "default";
		pinctrl-0 = <0x60 0x61 0x62>;
	};

	ethernet@ff540000 {
		compatible = "rockchip,rk3328-gmac";
		reg = <0x0 0xff540000 0x0 0x10000>;
		rockchip,grf = <0x26>;
		interrupts = <0x0 0x18 0x4>;
		interrupt-names = "macirq";
		clocks = <0x2 0x64 0x2 0x57 0x2 0x58 0x2 0x5a 0x2 0x59 0x2 0x96 0x2 0xdf>;
		clock-names = "stmmaceth", "mac_clk_rx", "mac_clk_tx", "clk_mac_ref", "clk_mac_refout", "aclk_mac", "pclk_mac";
		resets = <0x2 0x63>;
		reset-names = "stmmaceth";
		status = "disabled";
		phy-supply = <0x63>;
		phy-mode = "rgmii";
		clock_in_out = "input";
		snps,reset-gpio = <0x64 0x12 0x1>;
		snps,reset-active-low;
		snps,reset-delays-us = <0x0 0x2710 0xc350>;
		assigned-clocks = <0x2 0x64 0x2 0x66>;
		assigned-clock-parents = <0x65 0x65>;
		pinctrl-names = "default";
		pinctrl-0 = <0x66>;
		tx_delay = <0x26>;
		rx_delay = <0x11>;
	};

	ethernet@ff550000 {
		compatible = "rockchip,rk3328-gmac";
		reg = <0x0 0xff550000 0x0 0x10000>;
		rockchip,grf = <0x26>;
		interrupts = <0x0 0x15 0x4>;
		interrupt-names = "macirq";
		clocks = <0x2 0x54 0x2 0x53 0x2 0x53 0x2 0x55 0x2 0x95 0x2 0xde 0x2 0x56>;
		clock-names = "stmmaceth", "mac_clk_rx", "mac_clk_tx", "clk_mac_ref", "aclk_mac", "pclk_mac", "clk_macphy";
		resets = <0x2 0x62 0x2 0x64>;
		reset-names = "stmmaceth", "mac-phy";
		phy-mode = "rmii";
		phy-is-integrated;
		pinctrl-names = "default";
		pinctrl-0 = <0x67 0x68>;
		status = "okay";
		phy-supply = <0x63>;
		clock_in_out = "output";
		assigned-clocks = <0x2 0x65>;
		assigned-clock-rate = <0x2faf080>;
		assigned-clock-parents = <0x2 0x54>;
	};

	usb@ff580000 {
		compatible = "rockchip,rk3328-usb", "rockchip,rk3066-usb", "snps,dwc2";
		reg = <0x0 0xff580000 0x0 0x40000>;
		interrupts = <0x0 0x17 0x4>;
		clocks = <0x2 0x14d 0x2 0x14c>;
		clock-names = "otg", "otg_pmu";
		dr_mode = "otg";
		g-np-tx-fifo-size = <0x10>;
		g-rx-fifo-size = <0x113>;
		g-tx-fifo-size = <0x100 0x80 0x80 0x40 0x40 0x20>;
		g-use-dma;
		phys = <0x69>;
		phy-names = "usb2-phy";
		status = "okay";
	};

	usb@ff5c0000 {
		compatible = "generic-ehci";
		reg = <0x0 0xff5c0000 0x0 0x10000>;
		interrupts = <0x0 0x10 0x4>;
		clocks = <0x2 0x14e 0x2 0x14f 0x55>;
		clock-names = "usbhost", "arbiter", "utmi";
		phys = <0x6a>;
		phy-names = "usb";
		status = "okay";
	};

	usb@ff5d0000 {
		compatible = "generic-ohci";
		reg = <0x0 0xff5d0000 0x0 0x10000>;
		interrupts = <0x0 0x11 0x4>;
		clocks = <0x2 0x14e 0x2 0x14f 0x55>;
		clock-names = "usbhost", "arbiter", "utmi";
		phys = <0x6a>;
		phy-names = "usb";
		status = "okay";
	};

	dwmmc@ff5f0000 {
		compatible = "rockchip,rk3328-dw-mshc", "rockchip,rk3288-dw-mshc";
		reg = <0x0 0xff5f0000 0x0 0x4000>;
		clock-freq-min-max = <0x61a80 0x8f0d180>;
		clocks = <0x2 0x140 0x2 0x1f 0x2 0x4d 0x2 0x51>;
		clock-names = "biu", "ciu", "ciu-drv", "ciu-sample";
		fifo-depth = <0x100>;
		interrupts = <0x0 0x4 0x4>;
		status = "disabled";
		bus-width = <0x4>;
		cap-mmc-highspeed;
		cap-sd-highspeed;
		disable-wp;
		max-frequency = <0x8f0d180>;
		num-slots = <0x1>;
		pinctrl-names = "default";
		pinctrl-0 = <0x6b 0x6c 0x6d 0x6e>;
		supports-sd;
	};

	usb@ff600000 {
		compatible = "rockchip,rk3328-dwc3";
		clocks = <0x2 0x60 0x2 0x61 0x2 0x84>;
		clock-names = "ref_clk", "suspend_clk", "bus_clk";
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;
		status = "okay";

		dwc3@ff600000 {
			compatible = "snps,dwc3";
			reg = <0x0 0xff600000 0x0 0x100000>;
			interrupts = <0x0 0x43 0x4>;
			dr_mode = "host";
			phys = <0x6f 0x70>;
			phy-names = "usb2-phy", "usb3-phy";
			phy_type = "utmi_wide";
			snps,dis_enblslpm_quirk;
			snps,dis-u2-freeclk-exists-quirk;
			snps,dis_u2_susphy_quirk;
			snps,dis-u3-autosuspend-quirk;
			snps,dis_u3_susphy_quirk;
			snps,dis-del-phy-power-chg-quirk;
			snps,tx-ipgap-linecheck-dis-quirk;
			status = "okay";
		};
	};

	qos@ff750000 {
		compatible = "syscon";
		reg = <0x0 0xff750000 0x0 0x20>;
		linux,phandle = <0x1e>;
		phandle = <0x1e>;
	};

	qos@ff750080 {
		compatible = "syscon";
		reg = <0x0 0xff750080 0x0 0x20>;
		linux,phandle = <0x1f>;
		phandle = <0x1f>;
	};

	qos@ff778000 {
		compatible = "syscon";
		reg = <0x0 0xff778000 0x0 0x20>;
		linux,phandle = <0x20>;
		phandle = <0x20>;
	};

	dfi@ff790000 {
		reg = <0x0 0xff790000 0x0 0x400>;
		compatible = "rockchip,rk3328-dfi";
		rockchip,grf = <0x26>;
		status = "okay";
		linux,phandle = <0x71>;
		phandle = <0x71>;
	};

	dmc {
		compatible = "rockchip,rk3328-dmc";
		devfreq-events = <0x71>;
		clocks = <0x2 0x40>;
		clock-names = "dmc_clk";
		operating-points-v2 = <0x72>;
		ddr_timing = <0x73>;
		upthreshold = <0x28>;
		downdifferential = <0x14>;
		system-status-freq = <0x1 0xbfe50 0x8 0xbfe50 0x2 0xbfe50 0x20 0xbfe50 0x10 0xbfe50 0x10000 0xbfe50 0x2000 0xbfe50 0x1000 0xbfe50>;
		auto-min-freq = <0xbfe50>;
		auto-freq-en = <0x0>;
		#cooling-cells = <0x2>;
		status = "okay";
		center-supply = <0x3c>;
		linux,phandle = <0x25>;
		phandle = <0x25>;

		ddr_power_model {
			compatible = "ddr_power_model";
			dynamic-power-coefficient = <0x78>;
			static-power-coefficient = <0xc8>;
			ts = <0x7d00 0x125c 0xffffffb0 0x2>;
			thermal-zone = "soc-thermal";
		};
	};

	dmc-opp-table {
		compatible = "operating-points-v2";
		rockchip,leakage-voltage-sel = <0x1 0x8 0x0 0x9 0xfe 0x1>;
		nvmem-cells = <0x3d>;
		nvmem-cell-names = "ddr_leakage";
		linux,phandle = <0x72>;
		phandle = <0x72>;

		opp-400000000 {
			opp-hz = <0x0 0x17d78400>;
			opp-microvolt = <0xe1d48>;
			opp-microvolt-L0 = <0xe1d48>;
			opp-microvolt-L1 = <0xdbba0>;
			status = "disabled";
		};

		opp-600000000 {
			opp-hz = <0x0 0x23c34600>;
			opp-microvolt = <0xfa3e8>;
			opp-microvolt-L0 = <0xfa3e8>;
			opp-microvolt-L1 = <0xf4240>;
			status = "disabled";
		};

		opp-786000000 {
			opp-hz = <0x0 0x2ed96880>;
			opp-microvolt = <0x106738>;
			opp-microvolt-L0 = <0x106738>;
			opp-microvolt-L1 = <0x100590>;
		};

		opp-800000000 {
			opp-hz = <0x0 0x2faf0800>;
			opp-microvolt = <0x106738>;
			opp-microvolt-L0 = <0x106738>;
			opp-microvolt-L1 = <0x100590>;
			status = "disabled";
		};

		opp-850000000 {
			opp-hz = <0x0 0x32a9f880>;
			opp-microvolt = <0x106738>;
			opp-microvolt-L0 = <0x106738>;
			opp-microvolt-L1 = <0x100590>;
			status = "disabled";
		};
	};

	interrupt-controller@ff811000 {
		compatible = "arm,gic-400";
		#interrupt-cells = <0x3>;
		#address-cells = <0x0>;
		interrupt-controller;
		reg = <0x0 0xff811000 0x0 0x1000 0x0 0xff812000 0x0 0x2000 0x0 0xff814000 0x0 0x2000 0x0 0xff816000 0x0 0x2000>;
		interrupts = <0x1 0x9 0xf04>;
		linux,phandle = <0x1>;
		phandle = <0x1>;
	};

	pinctrl {
		compatible = "rockchip,rk3328-pinctrl";
		rockchip,grf = <0x26>;
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;
		pinctrl-names = "default";
		pinctrl-0 = <0x74>;

		gpio0@ff210000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x0 0xff210000 0x0 0x100>;
			interrupts = <0x0 0x33 0x4>;
			clocks = <0x2 0xc8>;
			gpio-controller;
			#gpio-cells = <0x2>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			linux,phandle = <0x8a>;
			phandle = <0x8a>;
		};

		gpio1@ff220000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x0 0xff220000 0x0 0x100>;
			interrupts = <0x0 0x34 0x4>;
			clocks = <0x2 0xc9>;
			gpio-controller;
			#gpio-cells = <0x2>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			linux,phandle = <0x64>;
			phandle = <0x64>;
		};

		gpio2@ff230000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x0 0xff230000 0x0 0x100>;
			interrupts = <0x0 0x35 0x4>;
			clocks = <0x2 0xca>;
			gpio-controller;
			#gpio-cells = <0x2>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			linux,phandle = <0x81>;
			phandle = <0x81>;
		};

		gpio3@ff240000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x0 0xff240000 0x0 0x100>;
			interrupts = <0x0 0x36 0x4>;
			clocks = <0x2 0xcb>;
			gpio-controller;
			#gpio-cells = <0x2>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
		};

		pcfg-pull-up {
			bias-pull-up;
			linux,phandle = <0x76>;
			phandle = <0x76>;
		};

		pcfg-pull-down {
			bias-pull-down;
			linux,phandle = <0x7f>;
			phandle = <0x7f>;
		};

		pcfg-pull-none {
			bias-disable;
			linux,phandle = <0x75>;
			phandle = <0x75>;
		};

		pcfg-pull-none-2ma {
			bias-disable;
			drive-strength = <0x2>;
			linux,phandle = <0x7e>;
			phandle = <0x7e>;
		};

		pcfg-pull-up-2ma {
			bias-pull-up;
			drive-strength = <0x2>;
		};

		pcfg-pull-up-4ma {
			bias-pull-up;
			drive-strength = <0x4>;
			linux,phandle = <0x78>;
			phandle = <0x78>;
		};

		pcfg-pull-none-4ma {
			bias-disable;
			drive-strength = <0x4>;
			linux,phandle = <0x79>;
			phandle = <0x79>;
		};

		pcfg-pull-down-4ma {
			bias-pull-down;
			drive-strength = <0x4>;
		};

		pcfg-pull-none-8ma {
			bias-disable;
			drive-strength = <0x8>;
			linux,phandle = <0x7a>;
			phandle = <0x7a>;
		};

		pcfg-pull-up-8ma {
			bias-pull-up;
			drive-strength = <0x8>;
			linux,phandle = <0x7b>;
			phandle = <0x7b>;
		};

		pcfg-pull-none-12ma {
			bias-disable;
			drive-strength = <0xc>;
			linux,phandle = <0x7c>;
			phandle = <0x7c>;
		};

		pcfg-pull-up-12ma {
			bias-pull-up;
			drive-strength = <0xc>;
			linux,phandle = <0x7d>;
			phandle = <0x7d>;
		};

		pcfg-output-high {
			output-high;
		};

		pcfg-output-low {
			output-low;
		};

		pcfg-input-high {
			bias-pull-up;
			input-enable;
			linux,phandle = <0x77>;
			phandle = <0x77>;
		};

		pcfg-input {
			input-enable;
		};

		i2c0 {

			i2c0-xfer {
				rockchip,pins = <0x2 0x18 0x1 0x75 0x2 0x19 0x1 0x75>;
				linux,phandle = <0x2f>;
				phandle = <0x2f>;
			};
		};

		i2c1 {

			i2c1-xfer {
				rockchip,pins = <0x2 0x4 0x2 0x75 0x2 0x5 0x2 0x75>;
				linux,phandle = <0x30>;
				phandle = <0x30>;
			};
		};

		i2c2 {

			i2c2-xfer {
				rockchip,pins = <0x2 0xd 0x1 0x75 0x2 0xe 0x1 0x75>;
				linux,phandle = <0x31>;
				phandle = <0x31>;
			};
		};

		i2c3 {

			i2c3-xfer {
				rockchip,pins = <0x0 0x5 0x2 0x75 0x0 0x6 0x2 0x75>;
				linux,phandle = <0x32>;
				phandle = <0x32>;
			};

			i2c3-gpio {
				rockchip,pins = <0x0 0x5 0x0 0x75 0x0 0x6 0x0 0x75>;
				linux,phandle = <0x4f>;
				phandle = <0x4f>;
			};
		};

		hdmi_i2c {

			hdmii2c-xfer {
				rockchip,pins = <0x0 0x5 0x1 0x75 0x0 0x6 0x1 0x75>;
				linux,phandle = <0x4d>;
				phandle = <0x4d>;
			};
		};

		tsadc {

			otp-gpio {
				rockchip,pins = <0x2 0xd 0x0 0x75>;
				linux,phandle = <0x27>;
				phandle = <0x27>;
			};

			otp-out {
				rockchip,pins = <0x2 0xd 0x1 0x75>;
				linux,phandle = <0x28>;
				phandle = <0x28>;
			};
		};

		uart0 {

			uart0-xfer {
				rockchip,pins = <0x1 0x9 0x1 0x76 0x1 0x8 0x1 0x75>;
				linux,phandle = <0x29>;
				phandle = <0x29>;
			};

			uart0-cts {
				rockchip,pins = <0x1 0xb 0x1 0x75>;
				linux,phandle = <0x2a>;
				phandle = <0x2a>;
			};

			uart0-rts {
				rockchip,pins = <0x1 0xa 0x1 0x75>;
				linux,phandle = <0x8c>;
				phandle = <0x8c>;
			};

			uart0-rts-gpio {
				rockchip,pins = <0x1 0xa 0x0 0x75>;
			};
		};

		uart1 {

			uart1-xfer {
				rockchip,pins = <0x3 0x4 0x4 0x76 0x3 0x6 0x4 0x75>;
				linux,phandle = <0x2b>;
				phandle = <0x2b>;
			};

			uart1-cts {
				rockchip,pins = <0x3 0x7 0x4 0x75>;
				linux,phandle = <0x2c>;
				phandle = <0x2c>;
			};

			uart1-rts {
				rockchip,pins = <0x3 0x5 0x4 0x75>;
				linux,phandle = <0x2d>;
				phandle = <0x2d>;
			};

			uart1-rts-gpio {
				rockchip,pins = <0x3 0x5 0x0 0x75>;
			};
		};

		uart2-0 {

			uart2m0-xfer {
				rockchip,pins = <0x1 0x0 0x2 0x76 0x1 0x1 0x2 0x75>;
			};
		};

		uart2-1 {

			uart2m1-xfer {
				rockchip,pins = <0x2 0x0 0x1 0x76 0x2 0x1 0x1 0x75>;
				linux,phandle = <0x2e>;
				phandle = <0x2e>;
			};
		};

		spi0-0 {

			spi0m0-clk {
				rockchip,pins = <0x2 0x8 0x1 0x76>;
			};

			spi0m0-cs0 {
				rockchip,pins = <0x2 0xb 0x1 0x76>;
			};

			spi0m0-tx {
				rockchip,pins = <0x2 0x9 0x1 0x76>;
			};

			spi0m0-rx {
				rockchip,pins = <0x2 0xa 0x1 0x76>;
			};

			spi0m0-cs1 {
				rockchip,pins = <0x2 0xc 0x1 0x76>;
			};
		};

		spi0-1 {

			spi0m1-clk {
				rockchip,pins = <0x3 0x17 0x2 0x76>;
			};

			spi0m1-cs0 {
				rockchip,pins = <0x3 0x1a 0x2 0x76>;
			};

			spi0m1-tx {
				rockchip,pins = <0x3 0x19 0x2 0x76>;
			};

			spi0m1-rx {
				rockchip,pins = <0x3 0x18 0x2 0x76>;
			};

			spi0m1-cs1 {
				rockchip,pins = <0x3 0x1b 0x2 0x76>;
			};
		};

		spi0-2 {

			spi0m2-clk {
				rockchip,pins = <0x3 0x0 0x4 0x76>;
				linux,phandle = <0x33>;
				phandle = <0x33>;
			};

			spi0m2-cs0 {
				rockchip,pins = <0x3 0x8 0x3 0x76>;
				linux,phandle = <0x36>;
				phandle = <0x36>;
			};

			spi0m2-tx {
				rockchip,pins = <0x3 0x1 0x4 0x76>;
				linux,phandle = <0x34>;
				phandle = <0x34>;
			};

			spi0m2-rx {
				rockchip,pins = <0x3 0x2 0x4 0x76>;
				linux,phandle = <0x35>;
				phandle = <0x35>;
			};
		};

		pdm-0 {

			pdmm0-clk {
				rockchip,pins = <0x2 0x12 0x2 0x75>;
				linux,phandle = <0x15>;
				phandle = <0x15>;
			};

			pdmm0-fsync {
				rockchip,pins = <0x2 0x17 0x2 0x75>;
				linux,phandle = <0x16>;
				phandle = <0x16>;
			};

			pdmm0-sdi0 {
				rockchip,pins = <0x2 0x13 0x2 0x75>;
				linux,phandle = <0x17>;
				phandle = <0x17>;
			};

			pdmm0-sdi1 {
				rockchip,pins = <0x2 0x14 0x2 0x75>;
				linux,phandle = <0x18>;
				phandle = <0x18>;
			};

			pdmm0-sdi2 {
				rockchip,pins = <0x2 0x15 0x2 0x75>;
				linux,phandle = <0x19>;
				phandle = <0x19>;
			};

			pdmm0-sdi3 {
				rockchip,pins = <0x2 0x16 0x2 0x75>;
				linux,phandle = <0x1a>;
				phandle = <0x1a>;
			};

			pdmm0-sleep {
				rockchip,pins = <0x2 0x12 0x0 0x77 0x2 0x13 0x0 0x77 0x2 0x14 0x0 0x77 0x2 0x15 0x0 0x77 0x2 0x16 0x0 0x77 0x2 0x17 0x0 0x77>;
				linux,phandle = <0x1b>;
				phandle = <0x1b>;
			};
		};

		i2s1 {

			i2s1-mclk {
				rockchip,pins = <0x2 0xf 0x1 0x75>;
			};

			i2s1-sclk {
				rockchip,pins = <0x2 0x12 0x1 0x75>;
			};

			i2s1-lrckrx {
				rockchip,pins = <0x2 0x10 0x1 0x75>;
			};

			i2s1-lrcktx {
				rockchip,pins = <0x2 0x11 0x1 0x75>;
			};

			i2s1-sdi {
				rockchip,pins = <0x2 0x13 0x1 0x75>;
			};

			i2s1-sdo {
				rockchip,pins = <0x2 0x17 0x1 0x75>;
			};

			i2s1-sdio1 {
				rockchip,pins = <0x2 0x14 0x1 0x75>;
			};

			i2s1-sdio2 {
				rockchip,pins = <0x2 0x15 0x1 0x75>;
			};

			i2s1-sdio3 {
				rockchip,pins = <0x2 0x16 0x1 0x75>;
			};

			i2s1-sleep {
				rockchip,pins = <0x2 0xf 0x0 0x77 0x2 0x10 0x0 0x77 0x2 0x11 0x0 0x77 0x2 0x12 0x0 0x77 0x2 0x13 0x0 0x77 0x2 0x14 0x0 0x77 0x2 0x15 0x0 0x77 0x2 0x16 0x0 0x77 0x2 0x17 0x0 0x77>;
			};
		};

		i2s2-0 {

			i2s2m0-mclk {
				rockchip,pins = <0x1 0x15 0x1 0x75>;
				linux,phandle = <0xd>;
				phandle = <0xd>;
			};

			i2s2m0-sclk {
				rockchip,pins = <0x1 0x16 0x1 0x75>;
				linux,phandle = <0xe>;
				phandle = <0xe>;
			};

			i2s2m0-lrckrx {
				rockchip,pins = <0x1 0x1a 0x1 0x75>;
				linux,phandle = <0x10>;
				phandle = <0x10>;
			};

			i2s2m0-lrcktx {
				rockchip,pins = <0x1 0x17 0x1 0x75>;
				linux,phandle = <0xf>;
				phandle = <0xf>;
			};

			i2s2m0-sdi {
				rockchip,pins = <0x1 0x18 0x1 0x75>;
				linux,phandle = <0x12>;
				phandle = <0x12>;
			};

			i2s2m0-sdo {
				rockchip,pins = <0x1 0x19 0x1 0x75>;
				linux,phandle = <0x11>;
				phandle = <0x11>;
			};

			i2s2m0-sleep {
				rockchip,pins = <0x1 0x15 0x0 0x77 0x1 0x16 0x0 0x77 0x1 0x1a 0x0 0x77 0x1 0x17 0x0 0x77 0x1 0x18 0x0 0x77 0x1 0x19 0x0 0x77>;
				linux,phandle = <0x13>;
				phandle = <0x13>;
			};
		};

		i2s2-1 {

			i2s2m1-mclk {
				rockchip,pins = <0x1 0x15 0x1 0x75>;
			};

			i2s2m1-sclk {
				rockchip,pins = <0x3 0x0 0x6 0x75>;
			};

			i2sm1-lrckrx {
				rockchip,pins = <0x3 0x8 0x6 0x75>;
			};

			i2s2m1-lrcktx {
				rockchip,pins = <0x3 0x8 0x4 0x75>;
			};

			i2s2m1-sdi {
				rockchip,pins = <0x3 0x2 0x6 0x75>;
			};

			i2s2m1-sdo {
				rockchip,pins = <0x3 0x1 0x6 0x75>;
			};

			i2s2m1-sleep {
				rockchip,pins = <0x1 0x15 0x0 0x77 0x3 0x0 0x0 0x77 0x3 0x8 0x0 0x77 0x3 0x2 0x0 0x77 0x3 0x1 0x0 0x77>;
			};
		};

		spdif-0 {

			spdifm0-tx {
				rockchip,pins = <0x0 0x1b 0x1 0x75>;
				linux,phandle = <0x14>;
				phandle = <0x14>;
			};
		};

		spdif-1 {

			spdifm1-tx {
				rockchip,pins = <0x2 0x11 0x2 0x75>;
			};
		};

		spdif-2 {

			spdifm2-tx {
				rockchip,pins = <0x0 0x2 0x2 0x75>;
			};
		};

		sdmmc0-0 {

			sdmmc0m0-pwren {
				rockchip,pins = <0x2 0x7 0x1 0x78>;
			};

			sdmmc0m0-gpio {
				rockchip,pins = <0x2 0x7 0x0 0x78>;
			};
		};

		sdmmc0-1 {

			sdmmc0m1-pwren {
				rockchip,pins = <0x0 0x1e 0x3 0x78>;
			};

			sdmmc0m1-gpio {
				rockchip,pins = <0x0 0x1e 0x0 0x78>;
			};
		};

		sdmmc0 {

			sdmmc0-clk {
				rockchip,pins = <0x1 0x6 0x1 0x79>;
				linux,phandle = <0x58>;
				phandle = <0x58>;
			};

			sdmmc0-cmd {
				rockchip,pins = <0x1 0x4 0x1 0x78>;
				linux,phandle = <0x59>;
				phandle = <0x59>;
			};

			sdmmc0-dectn {
				rockchip,pins = <0x1 0x5 0x1 0x78>;
				linux,phandle = <0x5a>;
				phandle = <0x5a>;
			};

			sdmmc0-wrprt {
				rockchip,pins = <0x1 0x7 0x1 0x78>;
			};

			sdmmc0-bus1 {
				rockchip,pins = <0x1 0x0 0x1 0x78>;
			};

			sdmmc0-bus4 {
				rockchip,pins = <0x1 0x0 0x1 0x78 0x1 0x1 0x1 0x78 0x1 0x2 0x1 0x78 0x1 0x3 0x1 0x78>;
				linux,phandle = <0x5b>;
				phandle = <0x5b>;
			};

			sdmmc0-gpio {
				rockchip,pins = <0x1 0x6 0x0 0x78 0x1 0x4 0x0 0x78 0x1 0x5 0x0 0x78 0x1 0x7 0x0 0x78 0x1 0x3 0x0 0x78 0x1 0x2 0x0 0x78 0x1 0x1 0x0 0x78 0x1 0x0 0x0 0x78>;
			};
		};

		sdmmc0ext {

			sdmmc0ext-clk {
				rockchip,pins = <0x3 0x2 0x3 0x79>;
				linux,phandle = <0x6b>;
				phandle = <0x6b>;
			};

			sdmmc0ext-cmd {
				rockchip,pins = <0x3 0x0 0x3 0x78>;
				linux,phandle = <0x6c>;
				phandle = <0x6c>;
			};

			sdmmc0ext-wrprt {
				rockchip,pins = <0x3 0x3 0x3 0x78>;
			};

			sdmmc0ext-dectn {
				rockchip,pins = <0x3 0x1 0x3 0x78>;
				linux,phandle = <0x6d>;
				phandle = <0x6d>;
			};

			sdmmc0ext-bus1 {
				rockchip,pins = <0x3 0x4 0x3 0x78>;
			};

			sdmmc0ext-bus4 {
				rockchip,pins = <0x3 0x4 0x3 0x78 0x3 0x5 0x3 0x78 0x3 0x6 0x3 0x78 0x3 0x7 0x3 0x78>;
				linux,phandle = <0x6e>;
				phandle = <0x6e>;
			};

			sdmmc0ext-gpio {
				rockchip,pins = <0x3 0x0 0x0 0x78 0x3 0x1 0x0 0x78 0x3 0x2 0x0 0x78 0x3 0x3 0x0 0x78 0x3 0x4 0x0 0x78 0x3 0x5 0x0 0x78 0x3 0x6 0x0 0x78 0x3 0x7 0x0 0x78>;
			};
		};

		sdmmc1 {

			sdmmc1-clk {
				rockchip,pins = <0x1 0xc 0x1 0x7a>;
				linux,phandle = <0x5f>;
				phandle = <0x5f>;
			};

			sdmmc1-cmd {
				rockchip,pins = <0x1 0xd 0x1 0x7b>;
				linux,phandle = <0x5e>;
				phandle = <0x5e>;
			};

			sdmmc1-pwren {
				rockchip,pins = <0x1 0x12 0x1 0x7b>;
			};

			sdmmc1-wrprt {
				rockchip,pins = <0x1 0x14 0x1 0x7b>;
			};

			sdmmc1-dectn {
				rockchip,pins = <0x1 0x13 0x1 0x7b>;
			};

			sdmmc1-bus1 {
				rockchip,pins = <0x1 0xe 0x1 0x7b>;
			};

			sdmmc1-bus4 {
				rockchip,pins = <0x1 0xe 0x1 0x7b 0x1 0xf 0x1 0x7b 0x1 0x10 0x1 0x7b 0x1 0x11 0x1 0x7b>;
				linux,phandle = <0x5d>;
				phandle = <0x5d>;
			};

			sdmmc1-gpio {
				rockchip,pins = <0x1 0xc 0x0 0x78 0x1 0xd 0x0 0x78 0x1 0xe 0x0 0x78 0x1 0xf 0x0 0x78 0x1 0x10 0x0 0x78 0x1 0x11 0x0 0x78 0x1 0x12 0x0 0x78 0x1 0x13 0x0 0x78 0x1 0x14 0x0 0x78>;
			};
		};

		emmc {

			emmc-clk {
				rockchip,pins = <0x3 0x15 0x2 0x7c>;
				linux,phandle = <0x60>;
				phandle = <0x60>;
			};

			emmc-cmd {
				rockchip,pins = <0x3 0x13 0x2 0x7d>;
				linux,phandle = <0x61>;
				phandle = <0x61>;
			};

			emmc-pwren {
				rockchip,pins = <0x3 0x16 0x2 0x75>;
			};

			emmc-rstnout {
				rockchip,pins = <0x3 0x14 0x2 0x75>;
			};

			emmc-bus1 {
				rockchip,pins = <0x0 0x7 0x2 0x7d>;
			};

			emmc-bus4 {
				rockchip,pins = <0x0 0x7 0x2 0x7d 0x2 0x1c 0x2 0x7d 0x2 0x1d 0x2 0x7d 0x2 0x1e 0x2 0x7d>;
			};

			emmc-bus8 {
				rockchip,pins = <0x0 0x7 0x2 0x7d 0x2 0x1c 0x2 0x7d 0x2 0x1d 0x2 0x7d 0x2 0x1e 0x2 0x7d 0x2 0x1f 0x2 0x7d 0x3 0x10 0x2 0x7d 0x3 0x11 0x2 0x7d 0x3 0x12 0x2 0x7d>;
				linux,phandle = <0x62>;
				phandle = <0x62>;
			};
		};

		pwm0 {

			pwm0-pin {
				rockchip,pins = <0x2 0x4 0x1 0x75>;
				linux,phandle = <0x37>;
				phandle = <0x37>;
			};

			pwm0-pin-pull-up {
				rockchip,pins = <0x2 0x4 0x1 0x76>;
			};
		};

		pwm1 {

			pwm1-pin {
				rockchip,pins = <0x2 0x5 0x1 0x75>;
				linux,phandle = <0x38>;
				phandle = <0x38>;
			};

			pwm1-pin-pull-up {
				rockchip,pins = <0x2 0x5 0x1 0x76>;
			};
		};

		pwm2 {

			pwm2-pin {
				rockchip,pins = <0x2 0x6 0x1 0x75>;
				linux,phandle = <0x39>;
				phandle = <0x39>;
			};
		};

		pwmir {

			pwmir-pin {
				rockchip,pins = <0x2 0x2 0x1 0x75>;
				linux,phandle = <0x3a>;
				phandle = <0x3a>;
			};
		};

		gmac-1 {

			rgmiim1-pins {
				rockchip,pins = <0x1 0xc 0x2 0x7c 0x1 0xd 0x2 0x7e 0x1 0x13 0x2 0x7e 0x1 0x19 0x2 0x7c 0x1 0x15 0x2 0x7e 0x1 0x16 0x2 0x7e 0x1 0x17 0x2 0x7e 0x1 0xa 0x2 0x7e 0x1 0xb 0x2 0x7e 0x1 0x8 0x2 0x7c 0x1 0x9 0x2 0x7c 0x1 0xe 0x2 0x7e 0x1 0xf 0x2 0x7e 0x1 0x10 0x2 0x7c 0x1 0x11 0x2 0x7c 0x0 0x8 0x1 0x75 0x0 0xc 0x1 0x75 0x0 0x18 0x1 0x75 0x0 0x10 0x1 0x75 0x0 0x11 0x1 0x75 0x0 0x17 0x1 0x75 0x0 0x16 0x1 0x75>;
				linux,phandle = <0x66>;
				phandle = <0x66>;
			};

			rmiim1-pins {
				rockchip,pins = <0x1 0x13 0x2 0x7e 0x1 0x19 0x2 0x7c 0x1 0x15 0x2 0x7e 0x1 0x18 0x2 0x7e 0x1 0x16 0x2 0x7e 0x1 0x17 0x2 0x7e 0x1 0xa 0x2 0x7e 0x1 0xb 0x2 0x7e 0x1 0x8 0x2 0x7c 0x1 0x9 0x2 0x7c 0x0 0xb 0x1 0x75 0x0 0xc 0x1 0x75 0x0 0x18 0x1 0x75 0x0 0x13 0x1 0x75 0x0 0x10 0x1 0x75 0x0 0x11 0x1 0x75>;
			};
		};

		gmac2phy {

			fephyled-speed100 {
				rockchip,pins = <0x0 0x1f 0x1 0x75>;
			};

			fephyled-speed10 {
				rockchip,pins = <0x0 0x1e 0x1 0x75>;
			};

			fephyled-duplex {
				rockchip,pins = <0x0 0x1e 0x2 0x75>;
			};

			fephyled-rxm0 {
				rockchip,pins = <0x0 0x1d 0x1 0x75>;
			};

			fephyled-txm0 {
				rockchip,pins = <0x0 0x1d 0x2 0x75>;
			};

			fephyled-linkm0 {
				rockchip,pins = <0x0 0x1c 0x1 0x75>;
			};

			fephyled-rxm1 {
				rockchip,pins = <0x2 0x19 0x2 0x75>;
				linux,phandle = <0x67>;
				phandle = <0x67>;
			};

			fephyled-txm1 {
				rockchip,pins = <0x2 0x19 0x3 0x75>;
			};

			fephyled-linkm1 {
				rockchip,pins = <0x2 0x18 0x2 0x75>;
				linux,phandle = <0x68>;
				phandle = <0x68>;
			};
		};

		tsadc_pin {

			tsadc-int {
				rockchip,pins = <0x2 0xd 0x2 0x75>;
			};

			tsadc-gpio {
				rockchip,pins = <0x2 0xd 0x0 0x75>;
			};
		};

		hdmi_pin {

			hdmi-cec {
				rockchip,pins = <0x0 0x3 0x1 0x75>;
				linux,phandle = <0x4c>;
				phandle = <0x4c>;
			};

			hdmi-hpd {
				rockchip,pins = <0x0 0x4 0x1 0x7f>;
				linux,phandle = <0x4e>;
				phandle = <0x4e>;
			};
		};

		cif-0 {

			dvp-d2d9-m0 {
				rockchip,pins = <0x3 0x4 0x2 0x75 0x3 0x5 0x2 0x75 0x3 0x6 0x2 0x75 0x3 0x7 0x2 0x75 0x3 0x8 0x2 0x75 0x3 0x9 0x2 0x75 0x3 0xa 0x2 0x75 0x3 0xb 0x2 0x75 0x3 0x1 0x2 0x75 0x3 0x0 0x2 0x75 0x3 0x3 0x2 0x75 0x3 0x2 0x2 0x75>;
			};
		};

		cif-1 {

			dvp-d2d9-m1 {
				rockchip,pins = <0x3 0x4 0x2 0x75 0x3 0x5 0x2 0x75 0x3 0x6 0x2 0x75 0x3 0x7 0x2 0x75 0x3 0x8 0x2 0x75 0x2 0x10 0x4 0x75 0x2 0x11 0x4 0x75 0x2 0x12 0x4 0x75 0x3 0x1 0x2 0x75 0x3 0x0 0x2 0x75 0x2 0xf 0x4 0x75 0x3 0x2 0x2 0x75>;
			};
		};

		clk_32k {

			clk-32k-out {
				rockchip,pins = <0x1 0x1c 0x1 0x75>;
				linux,phandle = <0x74>;
				phandle = <0x74>;
			};
		};

		leds {

			led-ctl {
				rockchip,pins = <0x2 0x17 0x0 0x75>;
				linux,phandle = <0x82>;
				phandle = <0x82>;
			};
		};

		pmic {

			pmic-int-l {
				rockchip,pins = <0x2 0x6 0x0 0x76>;
			};
		};

		sdio-pwrseq {

			wifi-enable-h {
				rockchip,pins = <0x1 0x12 0x0 0x75>;
				linux,phandle = <0x83>;
				phandle = <0x83>;
			};
		};

		usb {

			host-vbus-drv {
				rockchip,pins = <0x0 0x0 0x0 0x75>;
				linux,phandle = <0x8b>;
				phandle = <0x8b>;
			};
		};

		wireless-bluetooth {

			uart0-gpios {
				rockchip,pins = <0x1 0xa 0x0 0x75>;
				linux,phandle = <0x8d>;
				phandle = <0x8d>;
			};
		};
	};

	chosen {
		linux,initrd-end = <0x0 0x4d5c8a4>;
		linux,initrd-start = <0x0 0x4bf0000>;
		bootargs = "earlyprintk=uart8250-32bit,0xff130000 console=ttyFIQ0 androidboot.baseband=N/A androidboot.selinux=permissive androidboot.veritymode=/dev/block/platform/ff520000.dwmmc/by-name/metadata androidboot.hardware=rk30board androidboot.console=ttyFIQ0 firmware_class.path=/vendor/etc/firmware init=/init  mtdparts=rk29xxnand:0x00002000@0x00002000(uboot),0x00002000@0x00004000(trust),0x00002000@0x00006000(misc),0x00000800@0x00008000(baseparameter),0x00008000@0x00008800(resource),0x00010000@0x00010800(kernel),0x00010000@0x00020800(boot),0x00020000@0x00030800(recovery),0x00008000@0x00050800(backup),0x00080000@0x00058800(cache),0x00300000@0x000d8800(system),0x00008000@0x003d8800(metadata),0x00080000@0x003e0800(vendor),0x000e2000@0x00460800(oem),0x00000400@0x00542800(frp),0x00001000@0x00542c00(security),-@0x00543c00(userdata) androidboot.oem_unlocked=0 storagemedia=emmc uboot_logo=0x02000000@0xfcc00000 loader.timestamp=2018-06-13_06:04:03 hdmi.vic=-1 tve.format=-1 SecureBootCheckOk=0";
	};

	fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <0x2>;
		rockchip,signal-irq = <0x9f>;
		rockchip,wake-irq = <0x0>;
		rockchip,irq-mode-enable = <0x0>;
		rockchip,baudrate = <0x16e360>;
		interrupts = <0x0 0x7f 0x8>;
		status = "okay";
	};

	reserved-memory {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;

		drm-logo@00000000 {
			compatible = "rockchip,drm-logo";
			reg = <0x0 0xfcc00000 0x0 0x3f4800>;
			linux,phandle = <0x53>;
			phandle = <0x53>;
		};

		ramoops@68000000 {
			reg = <0x0 0x110000 0x0 0xf0000>;
			linux,phandle = <0x80>;
			phandle = <0x80>;
		};
	};

	ramoops {
		compatible = "ramoops";
		record-size = <0x0 0x20000>;
		console-size = <0x0 0x80000>;
		ftrace-size = <0x0 0x0>;
		pmsg-size = <0x0 0x50000>;
		memory-region = <0x80>;
	};

	gpio-leds {
		compatible = "gpio-leds";

		work {
			gpios = <0x81 0x17 0x0>;
			default-state = "on";
			pinctrl-names = "default";
			pinctrl-0 = <0x82>;
		};
	};

	external-gmac-clock {
		compatible = "fixed-clock";
		clock-frequency = <0x7735940>;
		clock-output-names = "gmac_clkin";
		#clock-cells = <0x0>;
		linux,phandle = <0x65>;
		phandle = <0x65>;
	};

	sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <0x83>;
		reset-gpios = <0x64 0x12 0x1>;
		linux,phandle = <0x5c>;
		phandle = <0x5c>;
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <0x100>;
		simple-audio-card,name = "rockchip,rk3328";

		simple-audio-card,cpu {
			sound-dai = <0x84>;
		};

		simple-audio-card,codec {
			sound-dai = <0x85>;
		};
	};

	hdmi-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <0x80>;
		simple-audio-card,name = "rockchip,hdmi";

		simple-audio-card,cpu {
			sound-dai = <0x86>;
		};

		simple-audio-card,codec {
			sound-dai = <0x87>;
		};
	};

	rtc-fake {
		compatible = "rtc-fake";
		status = "okay";
	};

	spdif-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rockchip,spdif";

		simple-audio-card,cpu {
			sound-dai = <0x88>;
		};

		simple-audio-card,codec {
			sound-dai = <0x89>;
		};
	};

	spdif-out {
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0x0>;
		linux,phandle = <0x89>;
		phandle = <0x89>;
	};

	host-vbus-regulator {
		compatible = "regulator-fixed";
		gpio = <0x8a 0x0 0x0>;
		pinctrl-names = "default";
		pinctrl-0 = <0x8b>;
		regulator-name = "vcc_host_vbus";
		regulator-min-microvolt = <0x4c4b40>;
		regulator-max-microvolt = <0x4c4b40>;
		enable-active-high;
		linux,phandle = <0x57>;
		phandle = <0x57>;
	};

	vcc-phy-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_phy";
		regulator-always-on;
		regulator-boot-on;
		linux,phandle = <0x63>;
		phandle = <0x63>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		regulator@0 {
			compatible = "regulator-fixed";
			regulator-name = "vccio_1v8";
			regulator-min-microvolt = <0x1b7740>;
			regulator-max-microvolt = <0x1b7740>;
			regulator-always-on;
			linux,phandle = <0x1d>;
			phandle = <0x1d>;
		};

		regulator@1 {
			compatible = "regulator-fixed";
			regulator-name = "vccio_3v3";
			regulator-min-microvolt = <0x325aa0>;
			regulator-max-microvolt = <0x325aa0>;
			regulator-always-on;
			linux,phandle = <0x1c>;
			phandle = <0x1c>;
		};
	};

	wireless-bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <0x2 0x1e>;
		clock-names = "ext_clock";
		uart_rts_gpios = <0x64 0xa 0x1>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <0x8c>;
		pinctrl-1 = <0x8d>;
		BT,power_gpio = <0x64 0x15 0x0>;
		BT,wake_host_irq = <0x64 0x1a 0x0>;
		status = "okay";
	};

	vdd-center {
		compatible = "pwm-regulator";
		rockchip,pwm_id = <0x0>;
		rockchip,pwm_voltage = <0x1312d0>;
		pwms = <0x8e 0x0 0x1388 0x1>;
		regulator-name = "vcc_arm";
		regulator-min-microvolt = <0xe7ef0>;
		regulator-max-microvolt = <0x155cc0>;
		regulator-always-on;
		regulator-boot-on;
		linux,phandle = <0x4>;
		phandle = <0x4>;
	};

	vdd-log {
		compatible = "pwm-regulator";
		rockchip,pwm_id = <0x1>;
		rockchip,pwm_voltage = <0x10c8e0>;
		pwms = <0x8f 0x0 0x1388 0x1>;
		regulator-name = "vcc_log";
		regulator-min-microvolt = <0xdbba0>;
		regulator-max-microvolt = <0x13d620>;
		regulator-always-on;
		regulator-boot-on;
		linux,phandle = <0x3c>;
		phandle = <0x3c>;
	};

	wireless-wlan {
		compatible = "wlan-platdata";
		clocks = <0x2 0x1e>;
		clock-names = "ext_clock";
		rockchip,grf = <0x26>;
		wifi_chip_type = "rtl8723bs";
		sdio_vref = <0xce4>;
		WIFI,host_wake_irq = <0x64 0x13 0x0>;
		status = "okay";
	};

	fd655_dev {
		compatible = "rockchip,fd655_dev";
		status = "okay";
		clk_pin = <0x81 0x13 0x0>;
		dat_pin = <0x81 0x16 0x0>;
	};
};
