/dts-v1/;
/plugin/;

/ {

	fragment@0 {
		target = <&route_dsi0>;

		__overlay__ {
			status = "disabled";
			connect = <&vp0_out_dsi0>;
		};
	};

	fragment@1 {
		target = <&video_phy0>;

		__overlay__ {
			 status = "disabled";
		};
	};

	fragment@2 {
		target = <&dsi0_in_vp0>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@3 {
		target = <&dsi0_in_vp1>;

		__overlay__ {
			status = "disabled";
		};
	};
	
	fragment@4 {
		target = <&route_dsi1>;

		__overlay__ {
			 status = "okay";
			 connect = <&vp0_out_dsi1>;
		};
	};

	fragment@5 {
		target = <&video_phy1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&dsi1_in_vp0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&dsi1_in_vp1>;

		__overlay__ {
			status = "disabled";
		};
	};
	
	fragment@8 {
		target = <&route_hdmi>;

		__overlay__ {
			status = "okay";
			connect = <&vp1_out_hdmi>;
		};
	};

	fragment@9 {
		target = <&hdmi>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@10 {
		target = <&hdmi_in_vp0>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@11 {
		target = <&hdmi_in_vp1>;

		__overlay__ {
			status = "disabled";
		};
	};
	
	fragment@12 {
		target = <&dsi1>;

		__overlay__ {
			 status = "okay";
			 dsi1_panel: dsi-panel@0 {
						 compatible = "raspits,tc358762";
						 reg = <0x0>;
						 status = "okay";
		 
						 ports {
							 #address-cells = <1>;
							 #size-cells = <0>;
		 
							 port@0 {
								 reg = <0>;
								 panel_in_dsi1: endpoint {
									 remote-endpoint = <&dsi1_out_bridge>;
								 };
							 };
						 };
			 };
		 
			 ports {
				 #address-cells = <1>;
				 #size-cells = <0>;
		 
				 port@1 {
					 reg = <1>;
					 dsi1_out_bridge: endpoint {
						 remote-endpoint = <&panel_in_dsi1>;
					 };
				 };
			 };
						
		};
	};
	
	fragment@13 {
		target = <&i2c2>;

		__overlay__ {
			
			status = "okay";
			pinctrl-names = "default";
			clock-frequency = <100000>;
			pinctrl-0 = <&i2c2m1_xfer>;
			avdd-1v8-supply = <&vcca1v8_image>;
			avdd-0v9-supply = <&vdda0v9_image>;
			power-domains = <&power RK3568_PD_VI>;
			#address-cells = <1>;
			#size-cells = <0>;
			backlight_dsi1:backlight@45{ 
				compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
				reg = <0x45>;
				status = "okay";
			};
			ft5x06_ts@38 { 
				compatible = "edt,edt-ft5x06", "ft5x06";
				reg = <0x38>;
				interrupt-parent = <&gpio0>;
				interrupts = <13 IRQ_TYPE_LEVEL_LOW>;
				power-domains = <&power RK3568_PD_VI>;
				reset-gpios = <&gpio0 RK_PB6 GPIO_ACTIVE_LOW>;
				touchscreen-size-x = < 800 >;
				touchscreen-size-y = < 480 >;
				status = "okay";
			};				
		};
	};
	
};